<div class="spinner" ng-show="participationWaiting">
    <i class="fa fa-5x fa-spinner fa-pulse"></i>
</div>

<div class="actionbar">
  <a class="btn btn-default" href="#/participations/{{participation._id}}">
    Voir la participation
  </a>
</div>

<div class="panel-body">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>Participation du {{ participation.date_debut | xinDate: 'medium' }}
      effectuée par {{participation.observateur.pseudo}}</h3>
    </div>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">Nombre de fichiers uploadés en parallèle (2~20)</span>
    <input class="form-control" type="number"
           ng-model="connectionSpeed" min="2" max="20">
  </div>

  <div class="alert alert-warning">Exemple de nom de fichier : {{fileFormatExemple}}</div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Fichiers joints</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="fileUploader"
                               multiple>
        </upload-file-directive>
      </div>
    </div>
  </div>

  <div class="form-group" ng-show="folderAllowed">
    <div class="input-group">
      <span class="input-group-addon">Dossier joint</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="folderUploader"
                               directory>
        </upload-file-directive>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-4 alert alert-success" ng-show="fileUploader.itemsUploaded.length">
    <div><strong>{{fileUploader.itemsUploaded.length}}</strong></div>
    <div ng-repeat="message in fileUploader.itemsUploaded">
      {{message}}
    </div>
  </div>

  <div class="col-xs-4 alert alert-warning" ng-show="fileUploader.itemsWarning.length">
    <div><strong>{{fileUploader.itemsWarning.length}}</strong></div>
    <div ng-repeat="message in fileUploader.itemsWarning">
      {{message}}
    </div>
  </div>

  <div class="col-xs-4 alert alert-danger" ng-show="fileUploader.itemsFailed.length">
    <div><strong>{{fileUploader.itemsFailed.length}}</strong></div>
    <div ng-repeat="message in fileUploader.itemsFailed">
      {{message}}
    </div>
  </div>
</div>

<div class="row" ng-show="folderAllowed">
  <div class="col-xs-4 alert alert-success" ng-show="folderUploader.itemsUploaded.length">
    <div><strong>{{folderUploader.itemsUploaded.length}}</strong></div>
    <div ng-repeat="message in folderUploader.itemsUploaded">
      {{message}}
    </div>
  </div>

  <div class="col-xs-4 alert alert-warning" ng-show="folderUploader.itemsWarning.length">
    <div><strong>{{folderUploader.itemsWarning.length}}</strong></div>
    <div ng-repeat="message in folderUploader.itemsWarning">
      {{message}}
    </div>
  </div>

  <div class="col-xs-4 alert alert-danger" ng-show="folderUploader.itemsFailed.length">
    <div><strong>{{folderUploader.itemsFailed.length}}</strong></div>
    <div ng-repeat="message in folderUploader.itemsFailed">
      {{message}}
    </div>
  </div>
</div>
