<div class="actionbar">
  <a class="btn btn-default" href="" ng-click="redirect()">
    Voir la participation
  </a>
</div>

<div class="alert alert-danger" ng-show="participation._errors.participation">
  <span class="glyphicon glyphicon-exclamation-sign"></span> {{participation._errors.participation}}
</div>
<div class="alert alert-danger"
  ng-show="submitted && participationForm.pieces_jointes.$error.uploading">
  Le transfert des pièces jointes n'est pas terminé
</div>
<span class="help-block"
  ng-show="submitted && participationForm.folder.$error.uploading">
  Le transfert des pièces jointes n'est pas terminé
</span>

<div class="panel-body">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>Participation du {{ participation.date_debut | xinDate: 'medium' }}
      effectuée par {{participation.observateur.pseudo}}</h3>
    </div>
  </div>

  <div class="alert alert-warning">Exemple de nom de fichier : {{fileFormatExemple}}</div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Fichiers joints</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="fileUploader" regexp="regexp" gzip multiple>
        </upload-file-directive>
      </div>
    </div>
  </div>

  <div class="form-group" ng-show="folderAllowed">
    <div class="input-group">
      <span class="input-group-addon">Dossier joint</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="folderUploader" regexp="regexp" gzip directory>
        </upload-file-directive>
      </div>
    </div>
  </div>
</div>
