<div class="spinner"
     ng-show="participationWaiting">
  <i class="fa fa-5x fa-spinner fa-pulse"></i>
</div>

<div class="actionbar">
  <sc-button class="btn btn-success"
             ng-click="compute()"
             label="'Lancer la participation'"
             wait-for-class="fa fa-spinner"
             cancel-wait-for="computeDone">
  </sc-button>
  <a class="btn btn-default"
     href="#/participations/{{participation._id}}">
    Voir la participation
  </a>
</div>

<div ng-show="computeInfo">
  <span class="label label-danger"
        ng-if="computeInfo.error">
    La demande de relance de la participation a échoué.
  </span>
</div>

<div class="panel-body">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>Participation du {{ participation.date_debut | xinDate: 'medium' }} effectuée par {{participation.observateur.pseudo}}</h3>
    </div>
  </div>

  <div class="alert alert-warning">Exemple de nom de fichier : {{fileFormatExemple}}</div>

  <upload-file-directive lien-participation="{{participationId}}"
                         regex="regexp"
                         warning-files="filesWarning"
                         error-files="filesFailed">
  </upload-file-directive>
</div>
