/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.g-maps {
  height: 400px;
  margin: 0px;
  padding: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 950px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.waiting-for-angular {
  margin-top: 10em
}

.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}

.drop.drag-over {
  background: #5CB85C;
  color: #fff;
}

.form-control-wrapper {
  margin: 10px 0;
}

.breadcrumb {
  margin-top: -12px;
  font-size: 11pt;
  background-color: #fff;
}

label {
  font-weight: normal;
}

.searchbox {
  float: right !important;
  margin-right: 20px;
  margin-top: -10px;
}

.form-control-wrapper .floating-label {
  color: #207434 !important;
}

.page-header {
  border-bottom: none !important;
}

.form-control-wrapper .form-control:empty ~ .floating-label {
  opacity: 0.5;
}

.form-control {
  color: #000000 !important;
}

body {
  background-color: #ffffff;
}

.form-control-wrapper .form-control:focus ~ .floating-label,
.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  opacity: 1;
}

.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  font-size: 10px !important;
}

#outerWrapper{
  overflow: hidden;
}

html, body, #maintContent, #outerGridWrapper, #grid
{
  margin: 0;
  padding: 0;
  border-width: 0;
  height: 100%; /* DO NOT USE !important for setting the Grid height! */
}

.container-action-button {
  position: relative;
  height: 14px;
}

.position-action-button {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.ressource h1 {
  margin-top: 0px;
}

