<div class="actionbar">
  <a class="btn btn-default" href="#/participations/{{participation._id}}">
    Voir la participation
  </a>
</div>

<div class="panel-body">
  <div class="alert alert-danger" ng-show="participation._errors.participation">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{participation._errors.participation}}
  </div>

  <div class="alert alert-warning">Exemple de nom de fichier : {{fileFormatExemple}}</div>
  <div class="form-group"
    ng-class="{'has-error': participationForm.pieces_jointes.$invalid && !participationForm.$pristine}">
    <div class="input-group">
      <span class="input-group-addon">Fichiers joints</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="fileUploader" regexp="regexp" gzip multiple>
        </upload-file-directive>
      </div>
    </div>
    <div class="help-block"
      ng-show="submitted && participationForm.pieces_jointes.$error.required">
      Champ requis
    </div>
    <div class="alert alert-danger"
      ng-show="submitted && participationForm.pieces_jointes.$error.uploading">
      Le transfert des pièces jointes n'est pas terminé
    </div>
  </div>

  <div class="form-group" ng-show="folderAllowed"
    ng-class="{'has-error': participationForm.folder.$invalid && !participationForm.$pristine}">
    <div class="input-group">
      <span class="input-group-addon">Dossier joint</span>
      <div style="padding-right: 1em; border-left: 1px solid #ccc">
        <upload-file-directive uploader="folderUploader" regexp="regexp" gzip directory>
        </upload-file-directive>
      </div>
    </div>
    <span class="help-block"
      ng-show="submitted && participationForm.folder.$error.required">
      Champ requis
    </span>
    <span class="help-block"
      ng-show="submitted && participationForm.folder.$error.uploading">
      Le transfert des pièces jointes n'est pas terminé
    </span>
  </div>

  <div>
    <span class="help-block"
      ng-show="submitted && canal_enregistrement_direct_error">
      Le canal en expansion de temps et le canal en enregistrement direct doivent être tous les 2 vides ou avoir une valeur (Gauche, Droit ou Absent).
    </span>
  </div>
</div>
