<div>
  <div>
    <b>{{ donnee.titre }}</b>

    <a class="btn btn-default"
       ng-click="CopyToClipboard('{{donnee.titre}}')">
      Copier
    </a>

    <a class="btn btn-danger" ng-click="editDonnee()">Modifier</a>
  </div>

  <div>
    <p>{{ donnee.commentaire }}</p>
    <p>{{ donnee.probleme }}</p>
  </div>

  <div class="table-responsive" ng-show="donnee.observations">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Taxon Tadarida</th>
          <th>Probabilité</th>
          <th>Taxon observateur</th>
          <th>Confiance observateur</th>
          <th>Taxon validateur</th>
          <th>Confiance validateur</th>
        </tr>
      </thead>

      <tbody ng-repeat="observation in donnee.observations">
        <tr>
          <td class="btn" data-toggle="collapse"
              data-target="#{{donnee.titre}}-{{$index}}">
            <span class="glyphicon glyphicon-collapse-down">
            </span>
          </td>
          <td>{{ observation.tadarida_taxon.libelle_long }}</td>
          <td>{{ observation.tadarida_probabilite }}</td>
          <td>{{ observation.observateur_taxon }}</td>
          <td>{{ observation.observateur_probabilite }}</td>
          <td>{{ observation.validateur_taxon }}</td>
          <td>{{ observation.validateur_probabilite }}</td>
        </tr>
        <tr class="collapse" id="{{donnee.titre}}-{{$index}}"><td colspan="7">
          <p><b>Autre taxon Tadarida :</b></p>
          <div ng-repeat="autre in observation.tadarida_taxon_autre"
               ng-show="autre.probabilite >= observation.tadarida_probabilite/2.1">
            {{ autre.taxon.libelle_long }} : {{autre.probabilite }}
          </div>
          <p><b>Messages :</b></p>
          <div ng-repeat="message in observation.messages"
               ng-show="observation.messages.length">
            Auteur : {{ message.auteur.pseudo }}
            <br>
            Date : {{ message.date | xinDate: 'medium' }}
            <br>
            Message : {{ message.message }}
          </div>
          <div ng-show="!observation.messages ||observation.messages.length == 0">
            Pas de message pour le moment.
          </div>
          <div class="form-group input-group">
            <input class="form-control" type="text" ng-model="newPost">
            {{ observation.newPost }}
            <a class="input-group-addon" ng-click="addPost({{$index}}, newPost)">
              Ajouter un message
            </a>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>

  <div ng-show="!donnee.observations">
    Pas d'observation pour le moment.
  </div>
</div>
