ul.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='dropdownListExample')
  li.dropdown-header(role='presentation')
    i.md.md-desktop-mac
    |  Welcome
  li(role='presentation')
    a(role='menuitem', href='', ng-click='showIntroduction();')
      i.md.md-help
      |  Show introduction
  .p-10
    .w300
      .pull-right
        .f9.grey-text.m-r-5.p-t-5 55
      |       New customers
    .progress.m-b-10
      .progress-bar.progress-bar-info(style='width: 60%;')
    .w300
      .pull-right
        .f9.grey-text.m-r-5.p-t-5 34
      |       Messages
    .progress.m-b-10
      .progress-bar.progress-bar-danger(style='width: 70%;')
    .w300
      .pull-right
        .f9.grey-text.m-r-5.p-t-5 21
      |       Revenue
    .progress.m-b-5
      .progress-bar.progress-bar-warning(style='width: 40%;')
