li
  a.collapsible-header.waves-effect(href='#', data-toggle='collapse', data-target='#{{name}}', aria-expanded='false', aria-controls='{{name}}', ng-class='{active: isOpen()}') {{name}}
  ul.collapse(id='{{name}}', ng-class='{in: isOpen()}', ng-transclude='')
