li
  a.collapsible-header.waves-effect(href='#', data-toggle='collapse', data-target='#{{name | nospace}}', aria-expanded='false', aria-controls='{{name | nospace}}', ng-class='{active: isOpen()}') {{name}}
  ul.collapse(id='{{name | nospace}}', ng-class='{in: isOpen()}', ng-transclude='')
