nav.navbar.navbar-default.navbar-fixed-top(ng-class='{scroll: (scroll>10)}')
  .container-fluid
    .navbar-header.pull-left
      button.navbar-toggle.pull-left.m-15(type='button', data-activates='.sidebar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .breadcrumb
        a.navbar-link(href="#/", title="homepage")
          span.glyphicon.glyphicon-home.icons-padding
        x(ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path", ng-class="{ active: $last }")
          | &nbsp;>&nbsp;&nbsp;
          a.navbar-link(ng-if="!$last", ng-href="#{{breadcrumb.path}}") {{breadcrumb.label}}
          t(style="color:#009FFF;font-size:16pt;", ng-if="$last") {{breadcrumb.label}}
    t(style="color:#009FFF;font-size:16pt;", ng-if="$last") {{breadcrumb.label}}
    ul.nav.navbar-nav.navbar-right.navbar-right-no-collapse
      li.dropdown.pull-right
        button.dropdown-toggle.pointer.btn.btn-round-sm.btn-link.withoutripple(bs-dropdown='', data-template='scripts/xin/navbar_drt/dropdown-navbar.html', data-animation='mat-grow-top-right')
          i.md.md-more-vert.f20
      li.dropdown.pull-right
        button.dropdown-toggle.pointer.btn.btn-round-sm.btn-link.withoutripple(bs-dropdown='', data-template='scripts/xin/navbar_drt/theme-picker.html')
          i.md.md-settings.f20
      li.pull-right(navbar-search='')
