aside.sidebar.fixed
  a(href='#/')
    .brand-logo
      #logo
        img(src="/images/chauvesouris.png", height="64", style="margin-top:-3px;margin-left:-42px")
      | Vigiechiro
  .user-logged-in
    .content
      .user-name
        | {{user.pseudo}}
      .user-actions
        a.m-r-5(href='#/profil') Profile
        a(href='#/logout') Logout
  ul.menu-links(ng-cloak='')
    a(menu-link='', href='#/participations/mes-participations', icon='md md-call-merge') Participation
    a(menu-link='', href='#/sites/mes-sites', icon='md md-terrain') Sites
    li(menu-toggle='', path='/protocoles', name='Protocoles', icon='md md-vpn-key')
      a(href='#/protocoles') Tous les protocoles
      a(href='#/protocoles/mes-protocoles') Mes protocoles
    a(menu-link='', href='#/taxons', icon='md md-android') Taxons
    a(menu-link='', href='#/utilisateurs', icon='md md-account-child') Utilisateurs
