md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
  header.nav-header
    a.xin-logo(ng-href='#/')
      img(src='/images/chauvesouris.png')
      h1.xin-logotype.md-heading Vigiechiro
  md-divider
  ul(ng-cloak='')
    a(menu-link='', href='#/', icon='md md-blur-on') Vigiechiro
    a(menu-link='', href='#/participations/mes-participations', icon='md md-insert-chart') Participations
    a(menu-link='', href='#/protocoles/mes-protocoles', icon='md md-blur-on') Vigiechiro
    a(menu-link='', href='#/taxons', icon='md md-insert-chart') Participations
    a(menu-link='', href='#/utilisateurs', icon='md md-insert-chart') Utilisateurs
