aside.sidebar.fixed
  .brand-logo
    #logo
      img(src="/images/chauvesouris.png", height="64", style="margin-top:-3px;margin-left:-42px")
    | Vigiechiro
  .user-logged-in
    .content
      .user-name
        | {{user.pseudo}}
      .user-actions
        a.m-r-5(href='#/profil') Profile
        a(href='#/logout') Logout
  ul(ng-cloak='')
    a(menu-link='', href='#/participations/mes-participations', icon='md md-call-merge') Participation
    a(menu-link='', href='#/sites/mes-sites', icon='md md-terrain') Sites
    a(menu-link='', href='#/protocoles', icon='md md-vpn-key') Protocoles
    a(menu-link='', href='#/taxons', icon='md md-android') Taxons
    a(menu-link='', href='#/utilisateurs', icon='md md-account-child') Utilisateurs
