<div class="text-center panel panel-warning">
    <div class="panel-heading"><h4>Profil de l'utilisateur {{ utilisateur.pseudo }}</h4></div>

    <form class="simple-form" novalidate name="userForm" ng-submit="userForm.$valid && saveUser()">
        <div class="input-group">
            <label class="input-group-addon" for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom"
                        ng-model="utilisateur.prenom" value="{{ utilisateur.prenom }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom"
                        ng-model="utilisateur.nom" value="{{ utilisateur.nom }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email"
                        ng-model="utilisateur.email" value="{{ utilisateur.email }}"
                        ng-disabled="readOnly" required>
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="pseudo">Pseudo</label>
            <input type="text" class="form-control" id="pseudo" name="pseudo"
                        ng-model="utilisateur.pseudo" value="{{ utilisateur.pseudo }}"
                        ng-disabled="readOnly" required>
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="telephone">Téléphone</label>
            <input type="text" class="form-control" id="telephone" name="telephone"
                        ng-model="utilisateur.telephone" value="{{ utilisateur.telephone }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="adresse">Adresse</label>
            <input type="text" class="form-control" id="adresse" name="adresse"
                        ng-model="utilisateur.adresse" value="{{ utilisateur.adresse }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="commentaire">Commentaire</label>
            <input type="text" class="form-control" id="commentaire" name="commentaire"
                        ng-model="utilisateur.commentaire" value="{{ utilisateur.commentaire }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <label class="input-group-addon" for="organisation">Organisation</label>
            <input type="text" class="form-control" id="organisation" name="organisation"
                        ng-model="utilisateur.organisation" value="{{ utilisateur.organisation }}"
                        ng-disabled="readOnly">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Professionnel</span>
            <span class="form-control row" style="margin-left: 0.02em;">
                <span class="col-lg-6">
                    <input type="radio" ng-model="utilisateur.professionnel"
                                ng-value="true" ng-checked="utilisateur.professionnel"
                                ng-disabled="readOnly"> Oui
                </span>
                <span class="col-lg-6">
                    <input type="radio" ng-model="utilisateur.professionnel"
                                ng-value="false" ng-checked="!utilisateur.professionnel"
                                ng-disabled="readOnly"> Non
                </span>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Données publiques</span>
            <span class="form-control row" style="margin-left: 0.02em;">
                <span class="col-lg-6">
                    <input type="radio" ng-model="utilisateur.donnees_publiques" ng-value="true"
                           ng-checked="utilisateur.donnees_publiques == true || utilisateur.donnees_publiques == null"
                           ng-disabled="readOnly">Oui
                </span>
                <span class="col-lg-6">
                    <input type="radio" ng-model="utilisateur.donnees_publiques" ng-value="false"
                           ng-checked="utilisateur.donnees_publiques == false"
                           ng-disabled="readOnly"> Non
                </span>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Rôle</span>
            <span class="form-control row" style="margin-left: 0.02em;">
                <select ng-model="utilisateur.role" ng-disabled="user.role != 'Administrateur'">
                    <option>Administrateur</option>
                    <option>Validateur</option>
                    <option>Observateur</option>
                </select>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Tags</span>
            <input type="text" class='form-control' name="tags" ng-model="utilisateur.tags"
                       value="{{ utilisateur.tags }}">
        </div>

        <br>
        <input type="submit" value="Sauvegarder" ng-hide="userForm.$pristine">
    </form>
</div>
