<div class="text-center">
    {{ utilisateur.prenom }}
    <br>
    {{ utilisateur.nom }}
    <br>
    {{ utilisateur.emai}}
    <br>
    {{ utilisateur.pseudo }}
    <br>
    {{ utilisateur.telephone }}
    <br>
    {{ utilisateur.adresse }}
    <br>
    {{ utilisateur.commentaire }}
    <br>
    {{ utilisateur.organisation }}
    <br>
    {{ utilisateur.professionnel }}
    <br>
    {{ utilisateur.donnees_publiques }}
    <br>
    {{ utilisateur.role }}
    <br>
    {{ utilisateur.tags }}
</div>
