<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/#/'>
        <span>
          <img src="/images/PictoVigieChiro.png" height="30">
          Vigiechiro
        </span>
      </a>
    </div>

    <!-- Modal displaying vigiechiro charte -->
    <div class="modal fade" id="charteModal" tabindex="-1" role="dialog" aria-labelledby="charteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" ng-if="user.charte_acceptee !== true">
            <h4 class="modal-title" id="charteModalLabel">Veuillez accepter la charte Vigiechiro avant de continuer</h4>
          </div>
          <div class="modal-body">

<h3>
  Charte d’utilisation des données transférées dans le cadre
  du programme de sciences participatives Vigie-Chiro
</h3>

<p>
  Vigie-chiro est un programme de sciences participatives sur les Chiroptères de France métropolitaine, animé par le Muséum national d’Histoire naturelle (UMR 7204 - Centre d’Ecologie et des Sciences de la Conservation), lancé en 2006. Les données sont issues de trois protocoles complémentaires : le circuit routier, le circuit pédestre et le poste fixe. L’échantillonnage repose sur l’enregistrement des ultrasons des chauves-souris. Ce programme concerne les espèces facilement détectables par la technique acoustique. Les analyses portent généralement sur les espèces communes (notamment Pipistrelles, Noctules, Sérotines) pour des questions de nombre de contacts. 
<p>
</p>
  La version point fixe repose sur l’enregistrement des ultrasons en continu pendant une nuit complète, elle génère donc un volume considérable de données par site. Le programme dispose désormais d’une plateforme de dépôt des enregistrements accompagnée d’un premier niveau d’identification reposant sur une reconnaissance automatique – logiciel Tadarida.
<p>
</p>
  Si le but principal de ce programme est d'alimenter la production d'indicateurs de tendances des populations, les données récoltées par les observateurs peuvent être plus largement valorisées. Cette charte a pour objectif de définir les engagements entre les observateurs et le programme Vigie-Chiro, notamment concernant le devenir des données.
</p>

<p>
  Cette charte définit les engagements entre
  <b>
  <k ng-if="user.nom && user.prenom">{{ user.prenom }} {{ user.nom }}</k>
  <k ng-if="! (user.nom && user.prenom)">{{ user.pseudo }}</k>
  <k ng-if="user.organisation">( {{ user.organisation }} )</k>
  </b>
</p>

<p>
  et
</p>

<p>
  l’<b>UMR 7204 CESCO</b> (Centre d’Ecologie et des Sciences de la Conservation), responsable du programme Vigie-Chiro.
</p>

<h4>Portée</h4>

<p>
  Cet engagement n’a pas de date limite de validité.
  Cet engagement vaut pour tout échange de données transmises dans le cadre du programme Vigie-chiro par le signataire.
</p>


<h4>Diffusion et utilisation des données</h4>

<p>
  Cet engagement implique que les données, avec toutes leurs précisions (hors données personnelles : email, coordonnées), transmises via le portail Vigie-chiro, peuvent être utilisées par :
</p>
<ul>
  <li>
    le <b>programme Vigie-chiro</b> : notamment pour la production de tendances, d’indicateurs ou encore pour aborder d’autres thématiques de recherche, à l’échelle nationale, européenne ou internationale ; Vigie-chiro est aussi autorisé à analyser les données pour les programmes nationaux portés par l’Etat (services centraux ou déconcentrés) en vue de la connaissance et de la conservation du patrimoine ;
  </li>
  <li>
    les <b>autres observateurs participant à Vigie-chiro</b> par simple consultation des données via le portail (login requis) ;
  </li>
  <li>
    <p>
      l’<b>INPN</b> (responsabilité scientifique du MNHN, article L 411.5 du code de l’environnement)
    </p>
    <p>
      L’INPN est un système mis en place afin d’assurer de manière standardisée la restitution de données de synthèses nécessaires à l’expertise, à l’élaboration de stratégies de conservation et à la diffusion d’informations aux divers publics. L’INPN assure aussi le rôle de plateforme SINP pour les données produites dans des protocoles nationaux et regroupe les données des SINP régionaux. Pour rappel le SINP est un dispositif partenarial, collaboratif, entre le Ministère de l'Ecologie et les acteurs de la biodiversité et du paysage. Il a pour objectifs entre autres de :
    </p>
    <ul>
      <li>
        structurer les connaissances sur la biodiversité,
      </li>
      <li>
        mettre à disposition ces connaissances selon des modalités différenciées entre le niveau local, régional, national et selon les publics concernés,
      </li>
      <li>
        faciliter la mobilisation des connaissances sur la biodiversité pour élaborer ou suivre les politiques publiques, évaluer les impacts des plans, programmes, projets des différents aménageurs etc.,
      </li>
      <li>
        permettre le rapportage correspondant aux engagements européens et internationaux.
      </li>
    </ul>
    <p>
      L’affichage de la répartition des espèces se fait selon plusieurs niveaux de synthèse : maillage 10x10 km, département, commune, espace protégé, ou zone d'inventaire. 
    </p>
    <p>
      L’UMS 2006 Patrinat, responsable scientifique de l’INPN, est autorisé :
      <ul>
        <li>
          à analyser les données avec toutes leurs précisions pour les programmes nationaux portés par l’Etat (services centraux ou déconcentrés) en vue de la connaissance et de la conservation du patrimoine ;
        </li>
        <li>
          à diffuser les données fournies (avec toutes leurs précisions) au SINP, au Système mondial d'information sur la biodiversité (GBIF, http://www.gbif.fr/ téléchargement possible via les plateformes), au webservice, et à extraire les données à la demande (ex : chercheurs, collectivités, Ministère, ONF, Bureaux d'étude, etc.).
        </li>
      </ul>
    </p>
  </li>
  <li>
    <b>par des utilisateurs extérieurs</b> qui auront formulé une demande (ex : chercheurs, collectivités, Ministère, associations, ONF, Bureaux d'étude, etc.). L’équipe Vigie-chiro assurera assurera dans la limite de ses moyens une réponse à ces demandes et leur traçabilité, et demandera aux utilisateurs de mentionner l’origine des données dans les publications ou rapports produits.
  </li>
</ul>


<h4>Engagements de Vigie-chiro :</h4>

Vigie-chiro s’engage :
<ul>
  <li>
    à assurer une sauvegarde pérenne de toutes les données transmises ;
  </li>
  <li>
    à faire un rapport au fournisseur de données sur le contenu du jeu de données, les éventuelles erreurs ou problèmes détectés et sur les éventuelles possibilités d’amélioration ;
  </li>
  <li>
    à valider une partie des identifications manuelles réalisées par l’observateur ;
  </li>
  <li>
    à produire des outils permettant la visualisation des données par l’observateur ;
  </li>
  <li>
    à valoriser les données notamment pour la production de tendances ;
  </li>
  <li>
    à remercier les observateurs dans les productions scientifiques et de vulgarisation issues des analyses réalisées par l’équipe Vigie-chiro ; 
  </li>
  <li>
    à transmettre les productions réalisées par l’équipe Vigie-chiro dans le cadre des activités de recherche, d’expertise ou de rapportages. 
  </li>
</ul>

          </div>
          <div class="modal-footer" ng-if="user.charte_acceptee !== true">

            <div ng-if="!wantToRefuseCharte">
              <div class="alert alert-danger" ng-show="charteModalSaveError" style="text-align: left">
                Echec de l'enregistrement de l'utilisateur.
                {{charteModalSaveErrorReason}}
              </div>
              <button type="button" class="btn btn-primary" ng-click="updateCharte(true)">
                Accepter
              </button>
              <button type="button" class="btn btn-danger" ng-click="setWantToRefuseCharte(true)">
                Refuser
              </button>
            </div>

            <div class="alert alert-danger" role="alert" ng-if="wantToRefuseCharte">
              En refusant la charte, votre inscription aux protocoles Vigie-chiro est conditionnée à une validation par un administrateur.
              Dans ce cas, merci d'expliciter vos raisons de votre refus par mail auprès
              de <a href="mailto: yves.bas@mnhn.fr">yves.bas@mnhn.fr</a>
              ou <a href="mailto: julie.marmet@mnhn.fr">julie.marmet@mnhn.fr</a>.

              <button type="button" class="btn btn-danger" ng-click="updateCharte(false)">
                Confirmer le refus
              </button>
              <button type="button" class="btn btn-primary" ng-click="setWantToRefuseCharte(false)">
                Annuler
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Navigation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/participations/mes-participations">Participations</a></li>
            <li><a href="#/sites/mes-sites">Sites</a></li>
            <li><a href="#/protocoles/mes-protocoles">Protocoles</a></li>
            <li><a href="#/taxons">Taxons</a></li>
            <li><a href="#/utilisateurs">Utilisateurs</a></li>
          </ul>
        </li>
      </ul>

      <p class="navbar-text">
        <!-- a glyphicon as homepage -->
        <a class="navbar-link" href="#/" title="homepage"><span class="glyphicon glyphicon-home icons-padding"></span></a>
        <x ng-repeat="breadcrumb in breadcrumbs">
          &nbsp;>&nbsp;&nbsp;
          <a ng-if="!$last" ng-href="{{breadcrumb[1]}}" class="navbar-link">{{breadcrumb[0]}}</a>
          <t ng-if="$last">{{breadcrumb[0]}}</t>
        </x>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="user-status dropdown-toggle" data-toggle="dropdown"
               role="button" aria-expanded="false">
               <b>{{user.pseudo}} </b><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="button-profile" href="#/profil">Profil</a></li>
              <li><a class="button-logout" ng-click="logout()">Déconnexion</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
