<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/#/'>
        <span>
          <img src="/images/PictoVigieChiro.png" height="30">
          Vigiechiro
        </span>
      </a>
    </div>

    <!-- Modal displaying vigiechiro charte -->
    <div class="modal fade" id="charteModal" tabindex="-1" role="dialog" aria-labelledby="charteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" ng-if="user.charte_acceptee !== true">
            <h4 class="modal-title" id="charteModalLabel">Veuillez accepter la charte Vigiechiro avant de continuer</h4>
          </div>
          <div class="modal-body">

             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus vel justo a ultrices. Ut tortor libero, pretium a hendrerit eget, fringilla sed magna. Cras urna nisi, laoreet ut ipsum quis, ullamcorper bibendum eros. Nullam nec risus lacus. Curabitur lacinia eget odio ut faucibus. Cras tristique justo eu elementum suscipit. Nam vehicula tempus nulla in sodales. Vivamus hendrerit semper velit, id pharetra elit lacinia et. Vestibulum feugiat gravida risus, a volutpat diam auctor et. Aenean hendrerit pulvinar lectus. Vestibulum ornare, orci at ullamcorper venenatis, velit erat aliquet turpis, at vehicula sapien nulla nec ante. Nulla nec egestas purus. 

          </div>
          <div class="modal-footer" ng-if="user.charte_acceptee !== true">
            <div class="alert alert-danger" ng-show="charteModalSaveError" style="text-align: left">
              Echec de l'enregistrement de l'utilisateur.
              {{charteModalSaveErrorReason}}
            </div>
            <button type="button" class="btn btn-primary" ng-click="updateCharte(true)">Accepter</button>
            <button type="button" class="btn btn-danger" ng-click="updateCharte(false)">Refuser</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Navigation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/participations/mes-participations">Participations</a></li>
            <li><a href="#/sites/mes-sites">Sites</a></li>
            <li><a href="#/protocoles/mes-protocoles">Protocoles</a></li>
            <li><a href="#/taxons">Taxons</a></li>
            <li><a href="#/utilisateurs">Utilisateurs</a></li>
          </ul>
        </li>
      </ul>

      <p class="navbar-text">
        <!-- a glyphicon as homepage -->
        <a class="navbar-link" href="#/" title="homepage"><span class="glyphicon glyphicon-home icons-padding"></span></a>
        <x ng-repeat="breadcrumb in breadcrumbs">
          &nbsp;>&nbsp;&nbsp;
          <a ng-if="!$last" ng-href="{{breadcrumb[1]}}" class="navbar-link">{{breadcrumb[0]}}</a>
          <t ng-if="$last">{{breadcrumb[0]}}</t>
        </x>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="user-status dropdown-toggle" data-toggle="dropdown"
               role="button" aria-expanded="false">
               <b>{{user.pseudo}} </b><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="button-profile" href="#/profil">Profil</a></li>
              <li><a class="button-logout" ng-click="logout()">Déconnexion</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
