<div class="text-center">
  Titre :  {{ protocole.titre }}
  <br>
  Description : {{ protocole.description }}
<!--        <br>
  Parent : <input type="text" name="parent" ng-model="protocole.parent" value="{{ protocole.parent }}"
                  ng-disabled="false">-->
  <br>
  Macro protocole :
  <input type="radio" name="macro_protocole" ng-model="protocole.macro_protocole" ng-value="true"
         ng-checked="protocole.macro_protocole == true">Oui
  <input type="radio" name="macro_protocole" ng-model="protocole.macro_protocole" ng-value="false"
         ng-checked="protocole.macro_protocole == false || protocole.macro_protocole == null"> Non
<!--        <br>
  Tags : <input type="text" name="tags" ng-model="protocole.tags"
                   value="{{ protocole.tags }}"
                   ng-disabled="false">-->
<!--        <br>
  Fichiers : <input type="text" name="fichiers" ng-model="protocole.fichiers"
                        value="{{ protocole.fichiers }}"
                        ng-disabled="true">-->
  <br>
  Type de site :
  <input type="radio" name="type_site" ng-model="protocole.type_site" value="LINEAIRE"
         ng-checked="protocole.type_site == true || protocole.type_site == null">Linéaire
  <input type="radio" name="type_site" ng-model="protocole.type_site" value="POLYGONE"
         ng-checked="protocole.type_site == false"> Polygone
  <br>
  Taxon : {{ taxon.libelle_court }}
<!--        <br>
  Configuration de la participation :-->
  <br>
  Algorithme de tirage du site :
  <input type="radio" name="algo_tirage_site" ng-model="protocole.algo_tirage_site" value="CARRE"
         ng-checked="protocole.algo_tirage_site == 'CARRE' || protocole.algo_tirage_site == null">Carré
  <input type="radio" name="algo_tirage_site" ng-model="protocole.algo_tirage_site" value="ROUTIER"
         ng-checked="protocole.algo_tirage_site == 'ROUTIER'">Routier
  <input type="radio" name="algo_tirage_site" ng-model="protocole.algo_tirage_site" value="POINT_FIXE"
         ng-checked="protocole.algo_tirage_site == 'POINT_FIXE'"> Point fixe
  <br>
  <br>
  <input type="button" value="Editer" ng-click="editProtocole()"
         ng-show="user.role = 'Administrateur'">
  <button value="inscription" ng-click="inscription()"
          ng-show="! inscrit && ! protocole.macro_protocole">
    S'inscrire
  </button>
</div>

<list-sites-directive protocole-id="{{ protocole._id }}" ng-show="inscrit"></list-sites-directive>

<view-site-directive protocole-id="{{ protocole._id }}" ng-show="inscrit"></view-site-directive>
