<div class="container">
  <div class="text-center">
    <div class="page-header text-center">
      <h1>{{protocole.titre}}</h1>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-body">
      <span ng-bind-html="protocole.description"></span>

      <div ng-if="!protocole.macro_protocole">
        Taxon : {{ protocole.taxon.libelle_long }}
        <br>
        Type des sites : {{ protocole.type_site }}
      </div>
    </div>

    <a class="btn btn-primary" id="register-protocole"
            ng-click="registerProtocole()"
            ng-show="!userRegistered && !protocole.macro_protocole">
      S'inscrire
    </a>

    <a class="btn btn-primary" id="edit-protocole"
       ng-show="user.role == 'Administrateur'"
       ng-href="#/protocoles/{{protocole._id}}/edition">
       Éditer
    </a>

    <div ng-if="!protocole.macro_protocole">
      <display-sites-directive protocole-id="{{protocole._id}}" type-site="{{protocole.type_site}}">
      </display-sites-directive>
      <list-sites-directive protocole-id="{{protocole._id}}">
      </list-sites-directive>
      <hr>
      <div class="panel panel-default" ng-show="userRegistered">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a href="#/protocoles/{{protocole._id}}/nouveau-site">
              Nouveau Site
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <list-actualites-validations-directive type="A_VALIDER"
                                             protocole-id="{{ protocole._id }}">
      </list-actualites-validations-directive>
    </div>
  </div>
</div>
