<div class="container">

  <div class="text-center">
    <div class="page-header text-center">
      <h1>{{protocole.titre}}</h1>
    </div>
  </div>

  <div class="panel panel-body">
    <span ng-bind-html="protocole.description"></span>

    <div>
      <span ng-if="!protocole.configuration_participation || protocole.configuration_participation.length == 0">
        <b>Aucune configuration requise</b>
      </span>
      <span ng-if="protocole.configuration_participation.length > 0">
        <b>Configuration requise</b>
        <span ng-repeat="key in protocole.configuration_participation">
          <br>
          <span ng-if="key == 'detecteur_enregistreur_numero_serie'">
            Numéro de série du détecteur enregistreur
          </span>
          <span ng-if="key == 'micro0_position'">
            Position du micro 0
          </span>
          <span ng-if="key == 'micro0_numero_serie'">
            Numéro de série du micro 0
          </span>
          <span ng-if="key == 'micro0_hauteur'">
            Hauteur du micro 0
          </span>
          <span ng-if="key == 'micro1_position'">
            Position du micro 1
          </span>
          <span ng-if="key == 'micro1_numero_serie'">
            Numéro de série du micro 1
          </span>
          <span ng-if="key == 'micro1_hauteur'">
            Hauteur du micro 1
          </span>
        </span>
      </span>
    </div>
  </div>

  <button name="register-protocole" ng-click="registerProtocole()"
          ng-show="!userRegistered && !protocole.macro_protocole"
          class="btn btn-primary">
    S'inscrire
  </button>
  <a name="edit-protocole" class="btn btn-primary" ng-show="isAdmin"
     ng-href="#/protocoles/{{protocoleId}}/edition">Éditer</a>

  <list-sites-directive protocole-id="{{protocole._id}}"
                        protocole-algo-site="{{protocole.algo_tirage_site}}"
                        ng-show="userRegistered">
  </list-sites-directive>
  <hr>
  <create-site-directive protocole-id="{{protocole._id}}"
                         protocole-algo-site="{{protocole.algo_tirage_site}}"
                         ng-show="userRegistered">
  </create-site-directive>

</div>
