<div class="container">

  <form class="simple-form" novalidate name="protocoleForm"
        ng-submit="saveProtocole()">

    <div class="input-group form-group">
      <label class="input-group-addon" for="titre">Titre</label>
      <input type="text" class="form-control" id="titre" name="titre"
             ng-model="protocole.titre" required>
    </div>
    <span ng-show="submitted && protocoleForm.titre.$error.required"
          class="help-block">
      Champ requis
    </span>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="protocole.macro_protocole" ng-value="true"
               ng-checked="protocole.macro_protocole">
        Macro protocole
      </label>
    </div>

    <div class="input-group form-group">
      <text-angular ng-model="protocole.description"></text-angular>
    </div>

    <div class="input-group form-group">
      <span class="input-group-addon">Type de site</span>
      <select class="form-control" ng-model="protocole.type_site">
        <option value="CARRE">Pédestre</option>
        <option value="ROUTIER">Routier</option>
        <option value="POINT_FIXE">Point fixe</option>
      </select>
    </div>
    <span ng-show="submitted && !protocole.type_site"
          class="help-block">
      Champ requis
    </span>

    <div class="input-group form-group">
      <span class="input-group-addon">Taxon</span>
      <select class="form-control" ng-model="protocole.taxon"
              ng-options="taxon._id as taxon.libelle_long for taxon in taxons">
      </select>
    </div>
    <span ng-show="submitted && !protocole.taxon" class="help-block">
      Champ requis
    </span>

    <div class="input-group form-group">
      <input class="save-protocole btn btn-primary" type="submit" value="Sauvegarder"
             ng-hide="protocoleForm.$pristine">
    </div>

  </form>
</div>
