<div class="container">
  <div class="page-header">
    <h3>Protocoles</h3>
  </div>

  <div class="list-group">
    <div class="row">
      <div class="col-xs-8">
          <label for="search">Filtre :</label>
          <input ng-model="filterField" class="search-field" class="form-control" placeholder="texte">
      </div>
      <div class="col-xs-4">
          <label for="search">Nb de Résultats par page :</label>
          <input type="number" class="form-control max-results-field" ng-model="lookup.max_results">
      </div>
    </div>
  </div>

  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a class="btn" ng-href='#/protocoles/{{resource._id}}'>
      {{resource.titre}}
    </a>
    <span class="label label-success pull-right" ng-show="resource._status_registered">
      Inscrit
    </span>
    <span class="label label-warning pull-right" ng-show="resource._status_toValidate">
      En attente de validation
    </span>
  </list-resource-directive>

  <div class="text-center" ng-show="isAdmin">
    <a name="create-protocole" class="btn btn-default" href="#/protocoles/nouveau">Nouveau protocole</a>
  </div>
</div>
