section.xin-height100
  list-resource-directive(resource-backend='resourceBackend', lookup='lookup')
    a(href='#/protocoles/{{resource._id}}')
      | {{resource.titre}}
    span.label.label-success.pull-right(ng-show='resource._status_registered')
      | Inscrit
    span.label.label-warning.pull-right(ng-show='resource._status_toValidate')
      | En attente de validation
xin-actions
