<div class="container">
    <div ng-if="!loading">
        <div class="page-header">
            <h3>Protocoles</h3>
        </div>
        <div ng-if="protocoles.length != 0">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="protocole in protocoles">
                    <a class="btn" ng-href='#/protocoles/{{ protocole._id }}'>
                        {{ protocole.titre }}
                    </a>
                </li>
            </ul>
        </div>

        <div ng-show="protocoles.length == 0" class="text-center">
            <h3><i>Pas de protocoles</i></h3>
        </div>

        <div class="text-center" ng-show="isAdmin">
          <a name="create-protocole" class="btn btn-default" href="#/protocoles/nouveau">Nouveau protocole</a>
        </div>
    </div>

    <div ng-if="loading">
        <center><img src="images/spinner.gif"></img></center>
        <center>Changement de la liste des protocoles...</center>
    </div>
</div>
