<div class="container">
  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a href='#/protocoles/{{resource._id}}'>
      {{resource.titre}}
    </a>
    <span class="label label-success pull-right" ng-show="resource._status_registered">
      Inscrit
    </span>
    <span class="label label-warning pull-right" ng-show="resource._status_toValidate">
      En attente de validation
    </span>
  </list-resource-directive>

  <div class="text-center" ng-show="isAdmin">
    <a class="btn btn-default" id="create-protocole" href="#/protocoles/nouveau">
      Nouveau protocole
    </a>
  </div>
</div>
