<div class="container">
    <div ng-if="!loading">
        <div class="page-header">
            <h3>Utilisateurs</h3>
        </div>
        <div ng-if="utilisateurs.length != 0">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="utilisateur in utilisateurs">
                    <a class="btn" ng-href='#/utilisateurs/{{ utilisateur._id }}'>
                        {{ utilisateur.pseudo }}
                    </a>
                </li>
            </ul>
        </div>

        <div ng-show="utilisateurs.length == 0" class="text-center">
            <h3><i>Pas de utilisateurs</i></h3>
        </div>
    </div>

    <div ng-if="loading">
        <center><img src="images/spinner.gif"></img></center>
        <center>Changement de la liste des utilisateurs...</center>
    </div>
</div>