<div class="container">
  <div class="page-header">
    <h3>{{utilisateur.pseudo}}</h3>
  </div>

  <form class="simple-form" novalidate name="userForm" ng-submit="saveUser()">

    <div class="input-group form-group">
      <span class="input-group-addon">Rôle</span>
        <select class="form-control" ng-model="utilisateur.role" ng-disabled="!isAdmin">
          <option value="Administrateur">Administrateur</option>
          <option value="Validateur">Validateur</option>
          <option value="Observateur">Observateur</option>
        </select>
      </span>
    </div>

    <div class="form-group" ng-class="{'has-error': userForm.pseudo.$invalid && !userForm.$pristine}">
      <div class="input-group">
        <label class="input-group-addon" for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" name="pseudo"
               ng-model="utilisateur.pseudo" ng-disabled="readOnly" required>
      </div>
      <span ng-show="userForm.pseudo.$error.required"
            class="help-block has-error">Champ requis</span>
    </div>


    <div class="form-group">
      <div class="input-group">
        <label class="input-group-addon" for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom"
               ng-model="utilisateur.prenom" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label class="input-group-addon" for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom"
               ng-model="utilisateur.nom" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && !userForm.$pristine}">
      <div class="input-group">
        <label class="input-group-addon" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email"
               ng-model="utilisateur.email" ng-disabled="readOnly" required>
      </div>
      <span ng-show="userForm.email.$error.required"
            class="help-block">Champ requis</span>
      <span ng-show="userForm.email.$error.email"
            class="help-block">Entrez un email valide</span>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label class="input-group-addon" for="telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone" name="telephone"
               ng-model="utilisateur.telephone" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group">
        <textarea rows="3" class="form-control" id="adresse" name="adresse"
                  ng-model="utilisateur.adresse" ng-disabled="readOnly"
                  placeholder="Adresse"></textarea>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label class="input-group-addon" for="organisation">Organisation</label>
        <input type="text" class="form-control" id="organisation" name="organisation"
               ng-model="utilisateur.organisation" ng-disabled="readOnly">
      </div>
    </div>

    <div class="checkbox">
     <div class="col-sm-1"></div>
      <label>
        <input type="checkbox" ng-model="utilisateur.professionnel" ng-disabled="readOnly">
        Je participe à titre professionnel
      </label>
    </div>

<!--         <div class="input-group form-group">
        <span class="input-group-addon">Tags</span>
        <input type="text" class='form-control' name="tags" ng-model="utilisateur.tags">
    </div> -->

    <div class="form-group">
        <textarea rows="3" class="form-control" id="commentaire" name="commentaire"
                  ng-model="utilisateur.commentaire" ng-disabled="readOnly"
                  placeholder="Commentaire"></textarea>
    </div>

    <div class="checkbox" ng-if="isAdmin">
      <label>
        <input type="checkbox" ng-model="utilisateur.donnees_publiques" ng-disabled="readOnly">
        Observations publiées sous license publique
      </label>
    </div>

    <div class="form-group">
        <input class="save-user btn btn-primary" type="submit" value="Sauvegarder" ng-hide="userForm.$pristine">
    </div>
    <div class="alert alert-danger" ng-show="saveError">
      Echec de l'enregistrement de l'utilisateur.
    </div>
  </form>

  <div class="page-header">
    <h3>Charte d'utilisation</h3>
  </div>

  <div ng-if="isSelf">
    <div class="alert alert-warning" ng-if="utilisateur.charte_acceptee === undefined">
      Vous n'avez pas encore accepté la charte d'utilisation
    </div>
    <div class="alert alert-success" ng-if="utilisateur.charte_acceptee === true">
      Vous avez accepté la charte d'utilisation
    </div>
    <div class="alert alert-danger" ng-if="utilisateur.charte_acceptee === false">
      Vous avez refusé la charte d'utilisation
    </div>

    <button type="button" class="btn btn-primary" ng-click="displayCharte()">
      Voir la charte
    </button>
  </div>

  <div ng-if="!isSelf">
    <div class="alert alert-warning" ng-if="utilisateur.charte_acceptee === undefined">
      Cet utilisateur n'a pas encore accepté la charte d'utilisation
    </div>
    <div class="alert alert-success" ng-if="utilisateur.charte_acceptee === true">
      Cet utilisateur a accepté la charte d'utilisation
    </div>
    <div class="alert alert-danger" ng-if="utilisateur.charte_acceptee === false">
      Cet utilisateur a refusé la charte d'utilisation
    </div>
  </div>

  <div ng-if="isAdmin">
    <button type="button" class="btn btn-primary" ng-if="utilisateur.charte_acceptee !== undefined" ng-click="resetCharteAccept()">
      Annuler l'acceptation
    </button>
  </div>

</div>
