<div class="container">
    <div class="page-header">
        <h4><b>{{ utilisateur.pseudo }}</b></h4>
    </div>

    <form class="simple-form" novalidate name="userForm" ng-submit="userForm.$valid && saveUser()">

        <div class="input-group form-group" ng-show="isAdmin">
            <span class="input-group-addon">Rôle</span>
                <select class="form-control" ng-model="utilisateur.role" ng-disabled="user.role != 'Administrateur'">
                    <option>Administrateur</option>
                    <option>Validateur</option>
                    <option>Observateur</option>
                </select>
            </span>
        </div>

        <div class="input-group form-group">
            <label class="input-group-addon" for="pseudo">Pseudo</label>
            <input type="text" class="form-control" id="pseudo" name="pseudo"
                   ng-model="utilisateur.pseudo" ng-disabled="readOnly" required>
        </div>

        <div class="form-group input-group">
            <label class="input-group-addon" for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom"
                   ng-model="utilisateur.prenom" ng-disabled="readOnly">
        </div>

        <div class="form-group input-group">
            <label class="input-group-addon" for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom"
                   ng-model="utilisateur.nom" ng-disabled="readOnly">
        </div>

        <div class="form-group input-group">
            <label class="input-group-addon" for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email"
                   ng-model="utilisateur.email" ng-disabled="readOnly" required>
        </div>

        <div class="input-group form-group">
            <label class="input-group-addon" for="telephone">Téléphone</label>
            <input type="text" class="form-control" id="telephone" name="telephone"
                   ng-model="utilisateur.telephone" ng-disabled="readOnly">
        </div>

        <div class="form-group">
            <textarea rows="3" class="form-control" id="adresse" name="adresse"
                      ng-model="utilisateur.adresse" ng-disabled="readOnly"
                      placeholder="Adresse"/>
        </div>

        <div class="input-group form-group">
            <label class="input-group-addon" for="organisation">Organisation</label>
            <input type="text" class="form-control" id="organisation" name="organisation"
                   ng-model="utilisateur.organisation" ng-disabled="readOnly">
        </div>

        <div class="checkbox">
         <div class="col-sm-1"/>
          <label>
            <input type="checkbox" ng-model="utilisateur.professionnel" ng-value="true"
                   ng-checked="utilisateur.professionnel" ng-disabled="readOnly">
            Je participe à titre professionnel
          </label>
        </div>

<!--         <div class="input-group form-group">
            <span class="input-group-addon">Tags</span>
            <input type="text" class='form-control' name="tags" ng-model="utilisateur.tags">
        </div> -->

        <div class="form-group">
            <textarea rows="3" class="form-control" id="commentaire" name="commentaire"
                      ng-model="utilisateur.commentaire" ng-disabled="readOnly"
                      placeholder="Commentaire"/>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="utilisateur.donnees_publiques" ng-value="true"
                   ng-checked="utilisateur.donnees_publiques" ng-disabled="readOnly">
            J'accepte que mes observations soit publiées sous license publique
          </label>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Sauvegarder" ng-hide="userForm.$pristine">
        </div>

    </form>
</div>
