<div class="col-md-8">
  <list-mes-actualites-directive is-admin="isAdmin">
  </list-mes-actualites-directive>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item"><b>Mes sites</b></li>
      <li ng-repeat="site in userSites" class="list-group-item">
        <a href="#/sites/{{site._id}}">{{site.titre}}</a>
      </li>
      <li ng-if="!userSites || userSites.length == 0" class="list-group-item">
        Pas de sites pour le moment, rejoignez un <a ng-href="#/protocoles">protocole</a> pour commencer
      </li>
    </ul>
  </div>
</div>

