<div class="col-md-12">
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item"><b>Tutoriels pour utiliser le portail</b></li>
      <li>
        <a href="https://docs.google.com/presentation/d/1Wxk-XVmiGazUPIkSQtmqAKaU2hzlX-V3OhsJIHEORlM/edit?usp=sharing">Protocole Point Fixe</a>
        <a href="https://docs.google.com/presentation/d/1XIdBZB47D3NCpP6vd_EyVWXWcaPhFDVyAO_tF8Q3E8o/edit?usp=sharing">Protocoles Routiers et Pédestres</a>
        <a href="https://drive.google.com/file/d/1LzPVuyC00TdrkcIiVZ21H053DgFJhixu/view">Foire aux questions les plus courantes</a>
        <a href="https://croemer3.wixsite.com/teamchiro/vigie-chiro?lang=fr">Les principaux résultats du programme</a>
        <a href="https://framalistes.org/sympa/subscribe/vigie-chiro">S’inscrire à la liste de diffusion mail</a>
        <a href="http://www.vigienature.fr/fr/page/documentations-identification-acoustique">Des ressources sur l’identification acoustique</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-8">
  <list-mes-actualites-directive>
  </list-mes-actualites-directive>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item"><b>Mes sites</b></li>
      <li ng-repeat="site in userSites" class="list-group-item">
        <a href="#/sites/{{site._id}}">{{site.titre}}</a>
      </li>
      <li ng-if="!userSites || userSites.length == 0" class="list-group-item">
        Pas de sites pour le moment, rejoignez un <a ng-href="#/protocoles">protocole</a> pour commencer
      </li>
    </ul>
  </div>
</div>
