tabset
  tab(heading='Toutes les actualitées')
    kendo-grid#kendoGrid1(k-options='gridOptions', k-ng-delay='gridOptions')
  tab(heading='Mes actualitées')
    kendo-grid#kendoGrid2(k-options='gridMesOptions', k-ng-delay='gridMesOptions')
