<div class="text-center">
    <form class="simple-form" novalidate name="siteForm"
          ng-submit="saveSite()">
        Commentaire :  <input type="text" name="commentaire" ng-model="site.commentaire"
                         value="{{ site.commentaire }}"
                         ng-disabled="false">
        <br>
        <div id="map-canvas" class="g-maps"></div>
        <br>
        URL : <input type="text" name="url" ng-model="site.url"
                         value="{{ site.url }}"
                         ng-disabled="false">
        <br>
        Point de référence
        <br>
        lattitude : <input type="text" name="coordonnee.lattitude" ng-model="site.coordonnee.lattitude"
                         ng-value="{{ site.coordonnee.lattitude }}"
                         ng-disabled="false">
        longitude : <input type="text" name="coordonnee.longitude" ng-model="site.coordonnee.longitude"
                         ng-value="{{ site.coordonnee.longitude }}"
                         ng-disabled="false">
        <br>
        <input type="submit" value="Sauvegarder" ng-disabled="protocoleForm.$pristine">
    </form>
</div>
