<div class="container ressource">
  <update/>
  <div class="text-center">
      <h4>({{taxon.libelle_court}})</h4>
  </div>

  <div class="panel panel-body">
    <span ng-bind-html="taxon.description"></span>
  </div>

  <div class="panel panel-body" ng-if="taxon.parents && taxon.parents.length > 0">
    <h4>Taxons parents </h4>
    <ul>
      <li class="taxon-parent" ng-repeat="parent in taxon.parents">
        <a href="#/taxons/{{parent._id}}">{{parent.libelle_long}}</a>
      </li>
    </ul>
  </div>
</div>

