<div class="container">
  <form class="simple-form" novalidate name="taxonForm" ng-submit="saveTaxon()">
    <submit/>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" ng-class="{'has-error': taxonForm.libelle_long.$invalid && !taxonForm.$pristine}">
          <input type="text" class="form-control floating-label" id="libelle_long" name="libelle_long"
               ng-model="taxon.libelle_long" ng-disabled="readOnly" required placeholder="Nom français (latin)">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" ng-class="{'has-error': taxonForm.libelle_court.$invalid && !taxonForm.$pristine}">
          <input type="text" class="form-control floating-label" id="libelle_court" name="libelle_court"
                 ng-model="taxon.libelle_court" ng-disabled="readOnly" required placeholder="Code">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group" ng-class="{'has-error': taxonsParents.error && !taxonForm.$pristine}">
          <div class="input-group">
            <label class="input-group-addon" for="taxons_parents">Taxons parents</label>
            <ui-select multiple class="form-control" id="taxons_parents" name="taxons_parents" ng-model="taxon.parents"
                       ng-disabled="disabled" on-select="someFunction($item, $model)">
              <ui-select-match>{{$item.libelle_long}}</ui-select-match>
              <ui-select-choices repeat="taxon in taxonsParents.availableTaxons | filter:$select.search">
                {{taxon.libelle_long}}
              </ui-select-choices>
            </ui-select>
            <span ng-show="submitted && taxonsParents.error"
              class="help-block">Les parents ne doivent pas former de boucle de dépendance</span>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group form-group">
      <textarea style="height:520px" kendo-editor k-ng-model="taxon.description"></textarea>
    </div>
  </form>
</div>
<script>
  $(document).ready(function() {
    $.material.options.autofill = true;
    $.material.init();
  });
</script>
