<div class="container">

    <form class="simple-form" novalidate name="taxonForm" ng-submit="saveTaxon()">

        <div class="input-group form-group">
            <label class="input-group-addon" for="libelle_long">Libellé long</label>
            <input type="text" class="form-control" id="libelle_long" name="libelle_long"
                   ng-model="taxon.libelle_long" ng-disabled="readOnly" required>
        </div>
        <span ng-show="submitted && taxonForm.libelle_long.$error.required"
              class="help-block">Champ requis</span>

        <div class="input-group form-group">
            <label class="input-group-addon" for="libelle_court">Libellé court</label>
            <input type="text" class="form-control" id="libelle_court" name="libelle_court"
                   ng-model="taxon.libelle_court" ng-disabled="readOnly" required>
        </div>
        <span ng-show="submitted && taxonForm.libelle_court.$error.required"
              class="help-block">Champ requis</span>

        <div class="input-group form-group">
          <text-angular ng-model="taxon.description"></text-angular>
        </div>

        <div class="input-group form-group">
            <input class="save-taxon btn btn-primary" type="submit" value="Sauvegarder" ng-hide="taxonForm.$pristine">
        </div>

    </form>
</div>
