<div ng-if="!loading">
    <div ng-if="taxons.length != 0" class="text-center panel panel-info">
        <div class="panel-heading panel-title"><b>Liste des taxons</b></div>
            <div ng-repeat="taxon in taxons" >
                <div class="text-center well well-sm"><a href='#/taxons/{{ taxon._id }}'>{{ taxon.libelle_long }}</a></div>
            </div>
        </div>
    </div>

    <div ng-show="taxons.length == 0" class="text-center">
        <h3><i>Pas de taxons</i></h3>
    </div>

    <div class="text-center" ng-show="user.role == 'Administrateur'">
      <a name="create-taxon" class="btn btn-default" href="#/taxons/nouveau">Nouveau taxon</a>
    </div>
</div>

<div ng-if="loading">
    <center><img src="images/spinner.gif"></img></center>
    <center>Changement de la liste des taxons...</center>
</div>
