<div class="container">
    <div class="page-header">
        <h3>Taxons</h3>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <label for="search">Filtre :</label>
            <input ng-model="filter" id="search" class="form-control" placeholder="texte">
        </div>
        <div class="col-xs-4">
            <label for="search">Nb de Résultats par page :</label>
            <input type="number" class="form-control" ng-model="itemsPerPage">
        </div>
    </div>

    <div ng-show="!loading">
        <div ng-if="taxons.length != 0">
            <ul class="list-group">
                <li class="list-group-item" dir-paginate="taxon in taxons | itemsPerPage: itemsPerPage" total-items="totalItems">
                    <a class="btn" ng-href='#/taxons/{{ taxon._id }}'>
                      {{ taxon.libelle_long }}
                    </a>
                </li>
            </ul>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>

        <div ng-show="taxons.length == 0" class="text-center">
            <h3><i>Pas de taxons</i></h3>
        </div>

        <div class="text-center" ng-show="isAdmin">
          <a name="create-taxon" class="btn btn-default" href="#/taxons/nouveau">Nouveau taxon</a>
        </div>
    </div>

    <div ng-if="loading">
        <center><img src="images/spinner.gif"></img></center>
        <center>Changement de la liste des taxons...</center>
    </div>
</div>
