<!-- drop zone -->
<div class="drop row"
     uploader="uploader">
  <input type="file"
         class="hidden"
         uploader="uploader"
         multiple>
  <center>
    <div><strong>Cliquez ou déposez vos fichiers ici</strong></div>
    <div>
      Le dépôt de dossier fonctionne sous Chrome uniquement
    </div>
    <div class="label label-warning">
      Si rien ne passe lorsque vous sélectionnez les fichiers puis confirmez, utilisez le glisser/déposer.
    </div>
  </center>
</div>

<!-- drop zone error -->
<div class="alert alert-danger" ng-show="dropError.length">
  <div ng-repeat="error in dropError">{{error}}</div>
</div>

<!-- abstract -->
<div class="well">
  <!-- <div>
    <button class="btn btn-primary btn-xs" type="button" ng-click="uploader.startAll()"
            ng-show="uploader.status == 'pause'">
      Continuer
    </button>
    <button class="btn btn-warning btn-xs" type="button" ng-click="uploader.pauseAll()"
            ng-show="uploader.status != 'pause' && (uploader.itemsWaiting.length || uploader.itemsReadyToCompress.length || uploader.itemsCompressing || uploader.itemsReadyToUp.length || uploader.itemsUploading.length)">
      Pause
    </button>
    <button class="btn btn-danger btn-xs" type="button" ng-click="uploader.cancelAll()"
            ng-show="uploader.itemsTotal">
      Tout annuler
    </button>
  </div> -->

  <div class="row">
    <div class="col-xs-6">
      Nombre de fichiers restant : <b>{{uploader.nb_waiting}}</b>
    </div>
    <div class="col-xs-6">
      Vitesse d'upload : {{uploader.speed/1024 | number: 1}} ko/s
    </div>
  </div>
  <!-- global progress bar -->
  <div class="progress">
    <!-- uploaded -->
    <div class="progress-bar progress-bar-success"
         style="width: {{uploader.nb_success/uploader.nb_total*100}}%">
      {{uploader.nb_success}}
    </div>
    <!-- errors -->
    <div class="progress-bar progress-bar-warning"
         style="width: {{uploader.nb_warning/uploader.nb_total*100}}%">
      {{uploader.nb_warning}}
    </div>
    <!-- errors -->
    <div class="progress-bar progress-bar-danger"
         style="width: {{uploader.nb_failure/uploader.nb_total*100}}%">
      {{uploader.nb_failure}}
    </div>
    <!-- waiting -->
    <div class="progress-bar progress-bar-warning progress-bar-striped active"
         style="width: {{uploader.nb_waiting/uploader.nb_total*100}}%">
      {{uploader.nb_waiting}}
    </div>
  </div>

  <div ng-repeat="file in uploader.processingFiles">
    <div class="row">
      <div class="col-xs-6">
        {{file.name}}
      </div>
      <div class="col-xs-4 progress">
        <div class="progress-bar progress-bar-success"
             style="width: {{file.bytesSent/file.data.size*100}}%;">
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped active"
             style="width: {{(file.data.size-file.bytesSent)/file.data.size*100}}%;">
        </div>
      </div>
      <div class="col-xs-2">
        {{file.data.size/1024 | number: 1}} ko
      </div>
    </div>
  </div>
</div>

<div>
  <div class="alert alert-warning" ng-show="uploader.nb_not_unique || uploader.warningFiles.length">
    <div ng-show="uploader.nb_not_unique">Nombre de fichiers déjà uploadés :
      <strong>{{uploader.nb_not_unique}}</strong>
    </div>

    <div ng-show="uploader.warningFiles.length">
      <div><strong>{{uploader.warningFiles.length}}</strong></div>
      <div ng-repeat="message in uploader.warningFiles">
        {{message}}
      </div>
    </div>
  </div>

  <div class="alert alert-danger" ng-show="uploader.errorFiles.length">
    <div>Nombre de ficher en erreur :
      <strong>{{uploader.errorFiles.length}}</strong>
    </div>
    <div ng-repeat="file in uploader.errorFiles">
      {{file.motif}}
    </div>


  <!-- <button class="btn btn-danger btn-xs" type="button" ng-click="uploader.cancelAll()"
          ng-show="uploader.itemsTotal">
    Relancer les fichiers en erreur
  </button> -->
  </div>
</div>
