<div dropzone class="drop row" ng-class="dragOverClass" ng-click="clickFileInput()">
  <input type="file" class="btn hidden files-input"
         custom-on-change="fileInputUploadFiles" directory webkitdirectory mozdirectory>
  <center>Cliquez ou déposez votre dossier ici</center>
</div>

<div ng-repeat="uploader in uploaders" class="form-group">
  <div>
    {{uploader.name}} {{uploader.filesUploaded}}/{{uploader.length}}
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
           aria-valuenow="{{uploader.progress}}"
           aria-valuemin="0" aria-valuemax="100"
           style="width: {{uploader.progress}}%;"
           ng-show="uploader.progress < 100">
        {{uploader.progress + '%'}}
      </div>
      <div class="progress-bar progress-bar-success" role="progressbar"
           aria-valuenow="100"
           aria-valuemin="0" aria-valuemax="100"
           style="width: 100%;"
           ng-show="uploader.progress == 100">
      </div>
    </div>
    <button class="btn btn-warning btn-xs" type="button" ng-click="uploader.pause()"
            ng-if="uploader.status == 'started'">
      Pause
    </button>
    <button class="btn btn-warning btn-xs" type="button" ng-click="uploader.start()"
            ng-if="uploader.status == 'pause'">
      Continuer
    </button>
    <button class="btn btn-danger btn-xs" type="button"
            ng-click="stopUploader(uploader)"
            ng-if="uploader.status != 'dead' && uploader.status != 'done'">
      Annuler
    </button>
  </div>
</div>
