<div class="panel-body">
  <div class="form-group">
    <div class="g-maps"></div>
  </div>

  <div class="form-group">
    {{ site.commentaire }}
  </div>

  <div ng-if="site.verrouille">
    <span class="label label-success">
      Site verrouillé
    </span>
    &nbsp;
    <a class="btn btn-warning" ng-click="lockSite(false)" ng-if="isAdmin">
      Déverrouiller
    </a>
  </div>

  <div ng-if="!site.verrouille">
    <span class="label label-danger">
      Site non verrouillé
    </span>
    &nbsp;
    <a class="btn btn-primary" ng-click="lockSite(true)" ng-if="isAdmin">
      Verrouiller
    </a>
  </div>
</div>
