<div class="container">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>{{site.titre}}</h3>
    </div>
  </div>

  <a class="btn btn-default" href="#/protocoles/{{site.protocole._id}}">
    Voir le protocole {{ site.protocole.titre }}
  </a>

  <div class="panel-body">
    <display-site-directive site="site" type-site="{{typeSite}}">
    </display-site-directive>
  </div>

  <div class="form-group" ng-if="isAdmin || !site.verrouille">
    <a class="btn btn-primary" href="#/sites/{{site._id}}/edition">Editer</a>
  </div>

  <div class="panel-body">
    <list-participations-directive site-id="{{site._id}}">
    </list-participations-directive>
  </div>

  <a class="btn btn-primary" href="#/sites/{{site._id}}/nouvelle-participation"
     ng-disabled="!isProtocoleValid">
    Nouvelle participation <span ng-if="site.observateur._id != userId">opportuniste</span>
  </a>
  <div ng-if="!isProtocoleValid">
    Le protocole n'est pas encore validé.
  </div>
</div>
