<div class="text-center">
  <div class="page-header text-center">
    <h3>{{site.titre}}</h3>
    Protocole {{ protocole.type_site }}
    <a class="btn btn-default" href="#/protocoles/{{protocole._id}}">
      {{protocole.titre}}
    </a>
  </div>
</div>

<div class="panel panel-default panel-body">
  <!-- <div ng-if="!creation && isAdmin && protocole.type_site == 'ROUTIER'">
    <div class="form-group input-group">
      <label class="input-group-addon" for="titre">Titre du site</label>
      <input type="text" class="form-control" id="titre"
             ng-model="site.titre">
      <div class="input-group-addon alert-warning" ng-if="site.titre != site_orig.titre">
        <i class="fa fa-lg fa-pencil"></i>
      </div>
    </div>
    <div class="alert alert-danger" ng-show="site._errors.titre">
      <span class="glyphicon glyphicon-exclamation-sign"></span> {{site._errors.titre}} Error
    </div>
  </div> -->

  <div ng-if="creation">
    <div class="form-group input-group" ng-show="protocole.type_site == 'ROUTIER'">
      <label class="input-group-addon" for="numeroSite">Numero du site (optionnel)</label>
      <input class="form-control" name="numeroSite" id="numeroSite"
             type="number" min="0" max="599"
             ng-model="site.numeroSite">
    </div>
    <p class="alert alert-danger" ng-show="numeroError">
      Ce numéro est déjà utilisé.
    </p>

    <div ng-show="randomSelectionAllowed">
      <b>Faire un tirage aléatoire</b>
      <a class="btn btn-primary" id="random-selection-true"
         ng-click="randomSelection(true)">
        Oui
      </a>
      <a class="btn btn-warning" id="random-selection-false"
         ng-click="randomSelection(false)">
        Non
      </a>
    </div>

    <div ng-show="resetFormAllowed">
      <a class="btn btn-danger" ng-click="resetForm()">
        Réinitialiser le formulaire
      </a>
    </div>
  </div>

  <div class="form-group input-group" ng-if="!creation && isAdmin">
    <span class="input-group-addon">Observateur</span>
    <select class="form-control" name="observateur"
            ng-model="site.observateur._id"
            ng-options="user._id as user.pseudo for user in users track by user._id">
    </select>
  </div>

  <ul class="list-group" ng-show="displaySteps">
    <li class="list-group-item" ng-repeat="step in steps">
      <span ng-show="strikeStep($index, stepId, steps)">✓&nbsp;<strike>{{step.message}}</strike></span>
      <span ng-hide="strikeStep($index, stepId, steps)">{{step.message}}</span>
      <a class="btn btn-primary" id="valid-origin"
         ng-click="validOrigin()"
         ng-show="validOriginAllowed && step.id == 'start'">
        Valider la zone
      </a>
      <a class="btn btn-warning" id="retry-selection"
         ng-click="retrySelection()"
         ng-show="creation && retrySelectionAllowed && step.id == 'selectGrilleStoc'">
        Refaire un tirage
      </a>
      <a class="btn btn-primary" id="valid-route"
         ng-click="validRoute()"
         ng-show="validRouteAllowed && step.id == 'start'">
        Valider le tracé
      </a>
      <a class="btn btn-warning" id="edit-route"
         ng-click="editRoute()"
         ng-show="editRouteAllowed && step.id == 'selectOrigin'">
        Modifier le tracé
      </a>
      <a class="btn btn-primary" id="valid-sections"
         ng-click="validSections()"
         ng-show="validSectionsAllowed && step.id == 'validSections'">
        Valider les tronçons
      </a>
      <a class="btn btn-warning" id="edit-sections"
         ng-click="editSections()"
         ng-show="editSectionsAllowed && step.id == 'validSections'">
        Modifier les tronçons
      </a>
      <a class="btn btn-primary" id="valid-localities"
         ng-click="validLocalities()"
         ng-show="validLocalitiesAllowed && step.id == 'editLocalities'">
        Valider les points
      </a>
      <a class="btn btn-warning" id="edit-localities"
         ng-click="editLocalities()"
         ng-show="editLocalitiesAllowed && step.id == 'validLocalities'">
        Modifier les points
      </a>
    </li>
  </ul>

  <div ng-show="protocole.type_site == 'ROUTIER'">
    <span ng-show="validRouteAllowed">
      <label>
        Etendre le tracé
      </label>
      <input bs-switch ng-model="extendRouteTo" type="checkbox"
             switch-on-text="au début" switch-off-text="à la fin"
             ng-true-value="'BEGIN'" ng-false-value="'END'"
             switch-label-width="0">
    </span>
    <span>
      Longueur du tracé : <b>{{ routeLength }}</b> kilomètres.
    </span>
  </div>

  <p class="bg-danger" ng-show="mapError">
    {{ mapError.message }}
  </p>
  <div class="alert alert-warning" ng-show="mapWarnings.length">
    <p ng-repeat="warning in mapWarnings">
      {{ warning.message }}
    </p>
  </div>

  <div class="help-block has-error" ng-show="false">
  </div>

  <div class="form-group">
    <div class="g-maps"></div>
  </div>

  <div class="form-group">
    <textarea rows="3" class="form-control" name="commentaire"
              ng-model="site.commentaire" ng-disabled="readOnly"
              placeholder="Commentaire">
    </textarea>
  </div>

  <div class="form-group">
    <a class="save-user btn btn-primary" href="" ng-click="saveSite()">Sauvegarder</a>
  </div>
</div>
