<div class="container">
  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a ng-href='#/sites/{{resource._id}}'>
      {{ resource.titre }}
      <span class="pull-right" style="white-space: nowrap">
        <span class="label label-success"
              ng-show="resource.observateur._id == user._id">
          Propriétaire
        </span>
        <span class="label label-primary"
              ng-show="resource.observateur._id != user._id">
          {{ resource.observateur.pseudo }}
        </span>
        &nbsp;
        <span class="label label-default" ng-show="resource.verrouille">
          Verrouillé
        </span>
      </span>
    </a>
  </list-resource-directive>
</div>
