<div class="container">
  <div ng-if="!loading">
    <div ng-if="sites.length != 0">
      <div class="page-header">
          <h3>Les sites</h3>
      </div>
      <div ng-repeat="site in sites">
        <show-site-directive site="site" user-id="{{userId}}"
                             protocole-registered="protocoleRegistered">
        </show-site-directive>
      </div>
    </div>
    <div ng-show="sites.length == 0" class="text-center">
      <h3><i>Vous n'avez pas de sites pour le moment</i></h3>
    </div>
  </div>

  <div ng-if="loading">
    <center><img src="images/spinner.gif"></img></center>
    <center>Changement de la liste des Sites...</center>
  </div>
</div>
