<div class="container">
    <div ng-if="!loading">
        <div ng-if="taxons.length != 0">
            <div class="page-header">
                <h3>Mes sites</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="site in sites">
                    <show-site-directive title="Site {{$index + 1}}" site="site"></show-site-directive>
                </li>
            </ul>
        <div ng-show="taxons.length == 0" class="text-center">
            <h3><i>Vous n'avez pas de sites pour le moment</i></h3>
        </div>
    </div>

    <div ng-if="loading">
        <center><img src="images/spinner.gif"></img></center>
        <center>Changement de la liste des Sites...</center>
    </div>
</div>
