<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <span>
        Nouveau site
      </span>
    </h4>
  </div>

  <div class="panel-body">
    <form class="simple-form" novalidate name="siteForm" ng-submit="saveSite()">
      <div ng-show="randomSelectionAllowed">
        <b>Faire un tirage aléatoire</b>
        <a class="btn btn-primary" id="random-selection-true"
           ng-click="randomSelection(true)">
          Oui
        </a>
        <a class="btn btn-warning" id="random-selection-false"
           ng-click="randomSelection(false)">
          Non
        </a>
      </div>

      <div ng-show="resetFormAllowed">
        <a class="btn btn-danger" ng-click="resetForm()">
          Réinitialiser le formulaire
        </a>
      </div>

      <ul class="list-group" ng-show="displaySteps">
        <li class="list-group-item" ng-repeat="step in steps">
          <span ng-show="$index < stepId">✓&nbsp;<strike>{{step}}</strike></span>
          <span ng-hide="$index < stepId">{{step}}</span>
          <a class="btn btn-primary" id="valid-origin"
             ng-click="validOrigin()" ng-show="validOriginAllowed && $index == 0">
            Valider la zone
          </a>
          <span ng-show="$index == 3">
            <a class="btn btn-primary" id="valid-localites"
               ng-click="validLocalites()"
               ng-show="validLocalitesAllowed">
              Valider les localités
            </a>
            <a class="btn btn-warning" id="edit-localites"
               ng-click="editLocalites()"
               ng-show="editLocalitesAllowed">
              Modifier les localités
            </a>
          </span>
        </li>
      </ul>

      <div ng-show="retrySelectionAllowed">
        <a class="btn btn-warning" id="retry-selection"
           ng-click="retrySelection()">
          Refaire un tirage
        </a>
      </div>

      <div ng-show="validTracetAllowed">
        <a class="btn btn-default" id="valid-tracet"
           ng-click="validTracet()">
          Valider le tracet
        </a>
        <span>
          Longueur actuelle : <b>{{ tracetLength }}</b> kilomètres.
        </span>
      </div>

      <a class="btn btn-default" id="valid-segments"
         ng-click="validSegments()" ng-show="validSegmentsAllowed">
        Valider les tronçons
      </a>

      <a class="btn btn-default" id="edit-segments"
         ng-click="editSegments()" ng-show="editSegmentsAllowed">
        Modifier les tronçons
      </a>

      <div class="help-block has-error" ng-show="false">
      </div>

      <div class="form-group">
        <!--<input type="text" class="numero_grille_stoc" value="numéro grille stoc"
          ng-if="protocoleAlgoSite != 'ROUTIER'">-->
        <div class="g-maps"></div>
      </div>

      <div class="form-group">
        <textarea rows="3" class="form-control" name="commentaire"
                  ng-model="site.commentaire" ng-disabled="readOnly"
                  placeholder="Commentaire"></textarea>
      </div>

      <div class="checkbox" ng-show="isAdmin && userRegistered">
        <label>
          <input type="checkbox" name="verrouille" ng-model="site.verrouille"
                 ng-true-value="true" ng-false-value="false">
            Verrouillé
        </label>
      </div>

      <div class="form-group">
        <input class="save-user btn btn-primary" type="submit" value="Sauvegarder"
               ng-hide="siteForm.$pristine">
      </div>
    </form>
  </div>
</div>
