<div class="container">
    <form class="simple-form" novalidate name="siteForm" ng-submit="saveSite()">

        <div class="form-group">
            <div id="map-canvas" class="g-maps"></div>
        </div>
        <span ng-show="submitted && (!site.coordonnee.lattitude || !site.coordonnee.lattitude)"
              class="help-block">Au moins un point est requis</span>

        <div class="form-group">
            <textarea rows="3" class="form-control" id="commentaire" name="commentaire"
                      ng-model="utilisateur.commentaire" ng-disabled="readOnly"
                      placeholder="Commentaire"></textarea>
        </div>

        <div class="form-group">
            <input class="save-user btn btn-primary" type="submit" value="Sauvegarder" ng-hide="userForm.$pristine">
            <button class="lock-site btn btn-warning" ng-show="isAdmin" ng-click="lockSite()">Verrouiller</button>
        </div>

    </form>
</div>
