<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#show-site-collapse-{{site._id}}"
         aria-expanded="false" aria-controls="show-site-collapse-{{site._id}}"
         ng-click="openCollapse('#show-site-collapse-' + site._id)">
        {{site.titre}}
      </a>
    </h4>
  </div>

  <div class="collapse {{collapsed === undefined ? 'in' : ''}}" id="show-site-collapse-{{site._id}}">
    <div class="panel-body">
      <form class="simple-form" novalidate name="siteForm" ng-submit="saveSite()">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="step in steps">
            <span ng-show="$index < stepId">✓&nbsp;<strike>{{step}}</strike></span>
            <span ng-hide="$index < stepId">{{step}}</span>
          </li>
        </ul>

        <button class="btn btn-primary" ng-show="stepId == 0"
                ng-click="validOrigin()">
          Valider le point d'origine
        </button>

        <button class="btn btn-primary" ng-show="stepId == 2"
                ng-click="newSelection()">
          Refaire un tirage
        </button>

        <div class="form-group">
          <!--<input type="text" class="numero_grille_stoc" value="numéro grille stoc"
            ng-if="protocoleAlgoSite != 'ROUTIER'">-->
          <div class="g-maps"></div>
        </div>

        <div class="form-group">
          <textarea rows="3" class="form-control" name="commentaire"
                    ng-model="site.commentaire" ng-disabled="readOnly"
                    placeholder="Commentaire"></textarea>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="verrouille" ng-model="site.verrouille"
                   ng-true-value="true" ng-false-value="false" ng-disabled="!isAdmin">
              Verrouillé
          </label>
        </div>

        <div class="form-group">
          <input class="save-user btn btn-primary" type="submit" value="Sauvegarder"
                 ng-hide="siteForm.$pristine">
        </div>
      </form>
    </div>
  </div>
</div>
