.footer-buttons
  .btn.btn-primary.btn-round(ng-show="isSelected",ng-click="deleteItem()", data-title='Supprimer')
    i.md.md-delete
  .btn.btn-primary.btn-round(ng-show="isAdmin", ng-click="createItem()", data-title='Nouveau')
    i.md.md-add
