.footer-buttons
  .btn.btn-primary.btn-round(ng-show="isSelected",ng-click="deleteItem()", data-title='Supprimer', bs-tooltip='')
    i.md.md-delete
  .btn.btn-primary.btn-round(ng-show="isAdmin", ng-click="createItem()", data-title='Nouveau', bs-tooltip='')
    i.md.md-add
