.footer-buttons#panelSubmit
  .m-r-10.form-group
    button.btn.btn-default(type="reset") Reset
    button.btn.btn-primary(type="submit", ng-disabled="xinForm.$invalid || xinForm.$pristine") Enregister
