<div flow-init flow-file-added="fileAdded($file)" flow-name="flow">
  <input type="file" flow-btn title="Upload file" ng-accept="image/*;capture=camera"/>
  <div class="alert well" flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
    <div ng-hide="input_file">
      Or drag and drop your file here
    </div>
    <photo-preview-directive input="input_file" width="640" height="480" output="entry.picture"></photo-preview-directive>
  </div>
</div>

<form class="simple-form" novalidate name='entryForm' ng-submit="entryForm.$valid && sendEntry()">
  <fieldset class="form-group">
      <textarea ng-model="entry.comment" class="form-control" placeholder="Comment of the picture..." title="Comment"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
  </fieldset>
</form>
