<div class="panel-body">
  <form class="simple-form" novalidate name="participationForm"
    ng-submit="saveParticipation()">

    <div class="form-group" ng-class="{'has-error': participationForm.date_debut.$invalid && !participationForm.$pristine}">
      <div class="dropdown">
        <a class="dropdown-toggle" id="start-toggle-select"
           data-toggle="dropdown">
          <div class="input-group">
            <label class="input-group-addon" for="date_debut">
              Date de début
            </label>
            <span class="form-control">
              {{ participation.date_debut | xinDate: 'medium' }}
            </span>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <datetimepicker
            data-ng-model="participation.date_debut"
            data-datetimepicker-config="{ dropdownSelector: '#start-toggle-select' }">
          </datetimepicker>
        </ul>
      </div>
      <span ng-show="participationForm.date_debut.$error.required"
            class="help-block has-error">Champ requis</span>
      <span ng-show="participationForm.date_debut.$error.$invalid"
            class="help-block has-error">Date invalide</span>
    </div>

    <div class="form-group" ng-class="{'has-error': participationForm.date_fin.$invalid && !participationForm.$pristine}">
      <div class="dropdown">
        <a class="dropdown-toggle" id="stop-toggle-select"
           data-toggle="dropdown">
          <div class="input-group">
            <label class="input-group-addon" for="date_fin">
              Date de fin
            </label>
            <span class="form-control" ng-hide="participation.date_fin"></span>
            <span class="form-control" ng-show="participation.date_fin">
              {{ participation.date_fin | xinDate: 'medium' }}
            </span>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <datetimepicker
            data-ng-model="participation.date_fin"
            data-datetimepicker-config="{ dropdownSelector: '#stop-toggle-select' }">
          </datetimepicker>
        </ul>
      </div>
      <span ng-show="submitted && participationForm.date_fin.$error.$invalid"
            class="help-block has-error">
        Date invalide
      </span>
      <span ng-show="submitted && participationForm.date_fin.$error.younger_than_date_debut"
            class="help-block has-error">
        La date de fin ne peut pas être plus récente que celle de début
      </span>
    </div>

    <div class="form-group" ng-class="{'has-error': participationForm.temperature_debut.$invalid && !participationForm.$pristine}">
      <div class="input-group">
        <label class="input-group-addon" for="meteo.temperature_debut">
          Température au début (en °C)
        </label>
        <input type="number" class="form-control" id="meteo.temperature_debut" name="temperature_debut"
          ng-model="participation.meteo.temperature_debut" ng-disabled="readOnly" min="-20" max="40">
      </div>
      <span ng-show="participationForm.temperature_debut.$error.max || participationForm.temperature_debut.$error.min || participationForm.temperature_debut.$error.number"
            class="help-block has-error">La température doit être comprise en -20°C et +40°C</span>
    </div>

    <div class="form-group" ng-class="{'has-error': participationForm.temperature_fin.$invalid && !participationForm.$pristine}">
      <div class="input-group">
        <label class="input-group-addon" for="meteo.temperature_fin">
          Température à la fin (en °C)
        </label>
        <input type="number" class="form-control" id="meteo.temperature_fin" name="temperature_fin"
          ng-model="participation.meteo.temperature_fin" ng-disabled="readOnly" min="-20" max="40">
      </div>
      <span ng-show="participationForm.temperature_fin.$error.max || participationForm.temperature_fin.$error.min || participationForm.temperature_fin.$error.number"
            class="help-block has-error">La température doit être comprise en -20°C et +40°C</span>
    </div>

    <div class="input-group form-group">
      <span class="input-group-addon">Vent</span>
      <select class="form-control" name="vent"
        ng-model="participation.meteo.vent"
        ng-disabled="readOnly">
        <option value="NUL">nul</option>
        <option value="FAIBLE">faible</option>
        <option value="MOYEN">moyen</option>
        <option value="FORT">fort</option>
      </select>
    </div>

    <div class="input-group form-group">
      <span class="input-group-addon">Couverture</span>
      <select class="form-control" name="couverture"
        ng-model="participation.meteo.couverture"
        ng-disabled="readOnly">
        <option value="0-25">0-25</option>
        <option value="25-50">25-50</option>
        <option value="50-75">50-75</option>
        <option value="75-100">75-100</option>
      </select>
    </div>

    <div class="form-group" ng-class="{'has-error': participationForm.commentaire.$invalid && !participationForm.$pristine}">
      <textarea rows="3" class="form-control" id="commentaire" name="commentaire"
                ng-model="participation.commentaire" ng-disabled="readOnly"
                placeholder="Commentaire"></textarea>
    </div>

    <div class="alert alert-warning">Exemple de nom de fichier : {{fileFormatExemple}}</div>
    <div class="form-group"
      ng-class="{'has-error': participationForm.pieces_jointes.$invalid && !participationForm.$pristine}">
      <div class="input-group">
        <span class="input-group-addon">Fichiers joints</span>
        <div style="padding-right: 1em; border-left: 1px solid #ccc">
          <upload-file-directive uploader="fileUploader" regexp="regexp" gzip multiple>
          </upload-file-directive>
        </div>
      </div>
      <div class="help-block"
        ng-show="submitted && participationForm.pieces_jointes.$error.required">
        Champ requis
      </div>
      <div class="alert alert-danger"
        ng-show="submitted && participationForm.pieces_jointes.$error.uploading">
        Le transfert des pièces jointes n'est pas terminé
      </div>
    </div>

    <div class="form-group" ng-if="folderAllowed"
      ng-class="{'has-error': participationForm.folder.$invalid && !participationForm.$pristine}">
      <div class="input-group">
        <span class="input-group-addon">Dossier joint</span>
        <div style="padding-right: 1em; border-left: 1px solid #ccc">
          <upload-file-directive uploader="folderUploader" regexp="regexp" gzip directory>
          </upload-file-directive>
        </div>
      </div>
      <span class="help-block"
        ng-show="submitted && participationForm.folder.$error.required">
        Champ requis
      </span>
      <span class="help-block"
        ng-show="submitted && participationForm.folder.$error.uploading">
        Le transfert des pièces jointes n'est pas terminé
      </span>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.detecteur_enregistreur_numero_serie.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.detecteur_enregistreur_numero_serie != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.detecteur_enregistreur_numero_serie">
          Numéro de série du détecteur enregistreur
        </label>
        <input type="text" class="form-control"
          id="configuration.detecteur_enregistreur_numero_serie"
          name="detecteur_enregistreur_numero_serie"
          ng-model="participation.configuration.detecteur_enregistreur_numero_serie" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.detecteur_enregistreur_type.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.detecteur_enregistreur_type != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.detecteur_enregistreur_type">
          Type du détecteur enregistreur
        </label>
        <select class="form-control"
                id="configuration.detecteur_enregistreur_type"
                name="detecteur_enregistreur_type"
                ng-model="participation.configuration.detecteur_enregistreur_type"
                ng-disabled="readOnly">
          <option value=""></option>
          <option value="SM2BAT">SM2BAT</option>
          <option value="SM2BAT+">SM2BAT+</option>
          <option value="EM3">EM3</option>
          <option value="EM3+">EM3+</option>
          <option value="SM3">SM3</option>
          <option value="D500">D500</option>
          <option value="Batcorder">Batcorder</option>
          <option value="Batlogger">Batlogger</option>
          <option value="Ultramic250k + Soundchaser">Ultramic250k + Soundchaser</option>
          <option value="Ultramic250k + Syrinx">Ultramic250k + Syrinx</option>
          <option value="Ultramic250k + Autre logiciel">Ultramic250k + Autre logiciel</option>
          <option value="Ultramic200k + Soundchaser">Ultramic200k + Soundchaser</option>
          <option value="Ultramic200k + Syrinx">Ultramic200k + Syrinx</option>
          <option value="Ultramic200k + Autre logiciel">Ultramic200k + Autre logiciel</option>
          <option value="Tranquility Transect + Zoom H2">Tranquility Transect + Zoom H2</option>
          <option value="Tranquility Transect + Tascam DR05">Tranquility Transect + Tascam DR05</option>
          <option value="Tranquility Transect + Edirol R09">Tranquility Transect + Edirol R09</option>
          <option value="Tranquility Transect + Edirol R01">Tranquility Transect + Edirol R01</option>
          <option value="Tranquility Transect + Autre enregistreur">Tranquility Transect + Autre enregistreur</option>
          <option value="D240X + Zoom H2">D240X + Zoom H2</option>
          <option value="D240X + Tascam DR05">D240X + Tascam DR05</option>
          <option value="D240X + Edirol R09">D240X + Edirol R09</option>
          <option value="D240X + Edirol R01">D240X + Edirol R01</option>
          <option value="D240X + Autre enregistreur">D240X + Autre enregistreur</option>
        </select>
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro_numero_serie.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro_numero_serie != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro_numero_serie">
          Numéro de série du micro
        </label>
        <input type="text" class="form-control"
          id="configuration.micro_numero_serie"
          name="micro_numero_serie"
          ng-model="participation.configuration.micro_numero_serie" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro_type.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro_type != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro_type">
          Type du micro
        </label>
        <select class="form-control"
                id="configuration.micro_type"
                name="micro_type"
                ng-model="participation.configuration.micro_type"
                ng-disabled="readOnly">
          <option value="Micro interne">Micro interne</option>
          <option value="SMX-US">SMX-US</option>
          <option value="SMX-UT">SMX-UT</option>
          <option value="SMX-U1">SMX-U1</option>
          <option value="Autre micro externe">Autre micro externe</option>
        </select>
      </div>
    </div>

    <div class="input-group form-group"
         ng-class="{'has-error': participationForm.configuration.micro0_position.$invalid && !participationForm.$pristine}"
         ng-if="participation.configuration.micro0_position != undefined">
      <span class="input-group-addon">Position micro gauche</span>
      <select class="form-control" name="micro0_position"
        ng-model="participation.configuration.micro0_position"
        ng-disabled="readOnly">
        <option value="SOL">Sol</option>
        <option value="CANOPEE">Canopée</option>
      </select>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro0_numero_serie.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro0_numero_serie != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro0_numero_serie">
          Numéro de série du micro gauche
        </label>
        <input type="text" class="form-control" id="configuration.micro0_numero_serie"
          name="micro0_numero_serie"
          ng-model="participation.configuration.micro0_numero_serie" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro0_type.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro0_type != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro0_type">
          Type du micro gauche
        </label>
        <select class="form-control" id="configuration.micro0_type"
                name="micro0_type"
                ng-model="participation.configuration.micro0_type"
                ng-disabled="readOnly">
          <option value="Micro interne">Micro interne</option>
          <option value="SMX-US">SMX-US</option>
          <option value="SMX-UT">SMX-UT</option>
          <option value="SMX-U1">SMX-U1</option>
          <option value="Autre micro externe">Autre micro externe</option>
        </select>
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro0_hauteur.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro0_hauteur != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro0_hauteur">
          Hauteur du micro gauche (en m)
        </label>
        <input type="text" class="form-control" id="configuration.micro0_hauteur"
          name="micro0_hauteur"
          ng-model="participation.configuration.micro0_hauteur" ng-disabled="readOnly">
      </div>
    </div>

    <div class="input-group form-group"
      ng-class="{'has-error': participationForm.configuration.micro1_position.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro1_position != undefined">
      <span class="input-group-addon">Position micro droit</span>
      <select class="form-control" name="micro1_position"
        ng-model="participation.configuration.micro1_position"
        ng-disabled="readOnly">
        <option value="SOL">Sol</option>
        <option value="CANOPEE">Canopée</option>
      </select>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro1_numero_serie.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro1_numero_serie != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro1_numero_serie">
          Numéro de série du micro droit
        </label>
        <input type="text" class="form-control" id="configuration.micro1_numero_serie"
          name="micro1_numero_serie"
          ng-model="participation.configuration.micro1_numero_serie" ng-disabled="readOnly">
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro1_type.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro1_type != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro1_type">
          Type du micro droit
        </label>
        <select class="form-control" id="configuration.micro1_type"
                name="micro1_type"
                ng-model="participation.configuration.micro1_type"
                ng-disabled="readOnly">
          <option value="Micro interne">Micro interne</option>
          <option value="SMX-US">SMX-US</option>
          <option value="SMX-UT">SMX-UT</option>
          <option value="SMX-U1">SMX-U1</option>
          <option value="Autre micro externe">Autre micro externe</option>
        </select>
      </div>
    </div>

    <div class="form-group"
      ng-class="{'has-error': participationForm.configuration.micro1_hauteur.$invalid && !participationForm.$pristine}"
      ng-if="participation.configuration.micro1_hauteur != undefined">
      <div class="input-group">
        <label class="input-group-addon" for="configuration.micro1_hauteur">
          Hauteur du micro droit (en m)
        </label>
        <input type="text" class="form-control" id="configuration.micro1_hauteur"
          name="micro1_hauteur"
          ng-model="participation.configuration.micro1_hauteur" ng-disabled="readOnly">
      </div>
    </div>

    <div class="input-group form-group"
         ng-class="{'has-error': participationForm.configuration.canal_expansion_temps.$invalid && !participationForm.$pristine}"
         ng-if="participation.configuration.canal_expansion_temps != undefined">
      <span class="input-group-addon">Canal en expansion de temps</span>
      <select class="form-control" name="canal_expansion_temps"
        ng-model="participation.configuration.canal_expansion_temps"
        ng-disabled="readOnly">
        <option value=""></option>
        <option value="GAUCHE">Gauche</option>
        <option value="DROITE">Droit</option>
        <option value="ABSENT">Absent</option>
      </select>
    </div>

    <div class="input-group form-group"
         ng-class="{'has-error': participationForm.configuration.canal_enregistrement_direct.$invalid && !participationForm.$pristine}"
         ng-if="participation.configuration.canal_enregistrement_direct != undefined">
      <span class="input-group-addon">Canal en enregistrement direct</span>
      <select class="form-control" name="canal_enregistrement_direct"
        ng-model="participation.configuration.canal_enregistrement_direct"
        ng-disabled="readOnly">
        <option value=""></option>
        <option value="GAUCHE">Gauche</option>
        <option value="DROITE">Droit</option>
        <option value="ABSENT">Absent</option>
      </select>
      <span class="help-block"
        ng-show="submitted && canal_enregistrement_direct_error">
        Le canal en expansion de temps et le canal en enregistrement direct doivent être tous les 2 vides ou avoir une valeur (Gauche, Droit ou Absent).
      </span>
    </div>

    <div class="alert alert-danger" ng-show="submitError">
      La participation n'a pas pu être sauvegardée.
    </div>

    <div class="input-group form-group">
      <input class="save-participation btn btn-primary" type="submit"
             ng-hide="participationForm.$pristine">
    </div>
  </form>
</div>
