<a class="btn btn-primary" href="#/protocoles/{{site.protocole._id}}">
  Voir le protocole {{ site.protocole.titre }}
</a>
<a class="btn btn-primary" href="#/sites/{{site._id}}">
  Voir le site {{ site.titre }}
</a>

<div class="form-group">
  <create-participation-directive protocole-id="{{site.protocole._id}}"
                                  configuration="site.protocole.configuration_participation"
                                  site-id="{{site._id}}">
  </create-participation-directive>
</div>
