<a class="btn btn-default" href="#/protocoles/{{participation.protocole._id}}">
  Voir le protocole {{ participation.protocole.titre }}
</a>
<a class="btn btn-default" href="#/sites/{{participation.site._id}}">
  Voir le site {{ participation.site.titre }}
</a>

<a class="btn btn-danger" href="" ng-click="delete()">
  Supprimer la participation
</a>

<display-participation-directive participation="participation">
</display-participation-directive>

<div class="form-group input-group">
  <input class="form-control" type="text" ng-model="post">
  <a class="input-group-addon" ng-click="addPost()">Ajouter un message</a>
</div>

<a class="btn btn-primary" href="#/participations/{{participation._id}}/edition">
  Editer la participation
</a>

<hr>

<div class="table-responsive">
  <h4>Bilan de la participation</h4>
  <table class="table table-striped table-condensed" ng-if="participation.bilan">
    <tr>
      <th>#</th>
      <th>Taxon parent</th>
      <th>Nom</th>
      <th>Nb contact min</th>
      <th>Nb de contact probable</th>
    <tr ng-show="participation.bilan.chiropteres"
        ng-repeat="line in participation.bilan.chiropteres">
      <td>{{$index+1}}</td>
      <td>Chiroptères</td>
      <td>{{line.taxon.libelle_long}}</td>
      <td>{{line.nb_contact_min}}</td>
      <td>{{line.nb_contact_max}}</td>
    </tr>
    <tr ng-show="participation.bilan.orthopteres"
        ng-repeat="line in participation.bilan.orthopteres">
      <td>{{$index+1}}</td>
      <td>Orthopteres</td>
      <td>{{line.taxon.libelle_long}}</td>
      <td>{{line.nb_contact_min}}</td>
      <td>{{line.nb_contact_max}}</td>
    </tr>
    </tr>
    <tr ng-show="participation.bilan.autre"
        ng-repeat="line in participation.bilan.autre">
      <td>{{$index+1}}</td>
      <td>Autre</td>
      <td>{{line.taxon.libelle_long}}</td>
      <td>{{line.nb_contact_min}}</td>
      <td>{{line.nb_contact_max}}</td>
    </tr>
  </table>
</div>

<!-- Compute info -->
<div ng-if="participation.traitement">
  <span ng-if="participation.traitement.etat == 'FINI'">
    Début du traitement : {{ participation.traitement.date_debut | xinDate: 'medium' }}
    <br>
    Le traitement s'est terminée le {{ participation.traitement.date_fin | xinDate: 'medium' }}
  </span>
  <span ng-if="participation.traitement.etat == 'PLANIFIE'">
    Traitement planifié le : {{ participation.traitement.date_planification | xinDate: 'medium' }}
    <span ng-if="participation.traitement.timeout">
      <br>
      Le traitement est planifié depuis trop longtemps, peut-être faut-il le relancer...
    </span>
  </span>
  <span ng-if="participation.traitement.etat == 'EN_COURS'">
    <span ng-if="participation.traitement.timeout">
      Le traitement est anormalement long, peut-être faut-il le relancer...
    </span>
    <span ng-if="!participation.traitement.timeout">
      Traitement en cours.
    </span>
    <br>
    Début du traitement : {{ participation.traitement.date_debut | xinDate: 'medium' }}
  </span>
  <span ng-if="participation.traitement.etat == 'ERREUR'">
    Le traitement a échoué.
<!--    <br>
    Début du traitement : {{ participation.traitement.date_debut | xinDate: 'medium' }}-->
  </span>
</div>
<div ng-show="computeInfo">
  <span class="label label-danger" ng-if="computeInfo.error">
    La demande de relance de la participation a échoué.
  </span>
</div>

<!-- Buttons -->
<div>
  <a class="btn btn-primary" href="#/participations/{{participation._id}}/donnees">
    Voir les données
  </a>
  <a class="btn btn-primary" href="" ng-click="getDonnees()">
    Recevoir les données par email
  </a>
  <a class="btn btn-warning" href="" ng-click="compute()"
     ng-if="isAdmin && (participation.traitement.etat == 'FINI' || participation.traitement.etat == 'ERREUR' || participation.traitement.timeout)">
    Relancer la participation
  </a>
  <span ng-if="participation.logs">
    <access-file-directive file="participation.logs"></access-file-directive>
  </span>
</div>

<div class="alert alert-success" ng-show="isCsvPost">
  Demande de réception des données par email : reçue
</div>
<div class="alert alert-danger" ng-show="isCsvPost == false">
  Echec de la demande de réception des données par email
</div>
