<div class="container">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>Participation du {{ participation.date_debut | xinDate: 'medium' }}</h3>
    </div>
  </div>

  <div class="panel panel-body">
    <div ng-if="participation.date_fin">
      Participation terminée le {{ participation.date_fin | xinDate: 'medium' }}
    </div>

    <div ng-bind-html="participation.commentaire"></div>

    <div>
      Météo
      <div ng-if="isObjectEmpty(participation.meteo)">
        Aucune indication météorologique.
      </div>
      <div ng-if="participation.meteo.temperature_debut">
        {{ participation.meteo.temperature_debut }}°C au début de la participation.
      </div>
      <div ng-if="participation.meteo.temperature_fin">
        {{ participation.meteo.temperature_fin }}°C à la fin de la participation.
      </div>
      <div ng-if="participation.meteo.vent">
        Vent {{ participation.meteo.vent }}
      </div>
      <div ng-if="participation.meteo.couverture">
        Couverture {{ participation.meteo.couverture }}
      </div>
    </div>

    <div>
      Configuration
      <div ng-if="isObjectEmpty(participation.configuration)">
        Aucune configuration.
      </div>
      <div ng-if="participation.configuration.detecteur_enregistreur_numero_serie">
        Numéro de série du détecteur enregistreur :
        {{ participation.configuration.detecteur_enregistreur_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro0_position">
        Position du micro 0 :
        {{ participation.configuration.micro0_position }}
      </div>
      <div ng-if="participation.configuration.micro0_numero_serie">
        Numéro de série du micro 0 :
        {{ participation.configuration.micro0_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro0_hauteur">
        Hauteur du micro 0 :
        {{ participation.configuration.micro0_hauteur }}
      </div>
      <div ng-if="participation.configuration.micro1_position">
        Position du micro 1 :
        {{ participation.configuration.micro1_position }}
      </div>
      <div ng-if="participation.configuration.micro1_numero_serie">
        Numéro de série du micro 1 :
        {{ participation.configuration.micro1_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro1_hauteur">
        Hauteur du micro 1 :
        {{ participation.configuration.micro1_hauteur }}
      </div>
    </div>

    <div>
      Pièces jointes
      <a class="btn btn-default" data-toggle="collapse"
         data-target="#display-files-collapse"
         aria-expanded="false" aria-controls="display-files-collapse"
         ng-click="displayFiles()">
        <div>Afficher les pièces jointes</div>
      </a>
      <div class="collapse" id="display-files-collapse">
        <li class="list-group-item" ng-repeat="piece_jointe in pieces_jointes">
          <span>{{ piece_jointe }}</span>
          <access-file-directive file="piece_jointe"></access-file-directive>
        </li>
      </div>
    </div>

    <div>
      Posts
      <div ng-if="!participation.messages">
        Aucun post.
      </div>
      <div ng-repeat="message in participation.messages">
        auteur : {{ message.auteur.pseudo }}
        <br>
        date : {{ message.date }}
        <br>
        message : {{ message.message }}
      </div>
    </div>
  </div>
</div>
