<div class="container">
  <div class="text-center">
    <div class="page-header text-center">
      <h3>Participation du {{ participation.date_debut | xinDate: 'medium' }}</h3>
    </div>
  </div>

  <div class="panel panel-body">
    <div ng-if="participation.date_fin">
      Participation terminée le {{ participation.date_fin | xinDate: 'medium' }}
    </div>

    <div ng-bind-html="participation.commentaire"></div>

    <div class="panel panel-default panel-body">
      <div><b>Météo</b></div>
      <div ng-if="isObjectEmpty(participation.meteo)">
        Aucune indication météorologique.
      </div>
      <div ng-if="participation.meteo.temperature_debut">
        {{ participation.meteo.temperature_debut }}°C au début de la participation.
      </div>
      <div ng-if="participation.meteo.temperature_fin">
        {{ participation.meteo.temperature_fin }}°C à la fin de la participation.
      </div>
      <div ng-if="participation.meteo.vent">
        Vent {{ participation.meteo.vent }}
      </div>
      <div ng-if="participation.meteo.couverture">
        Couverture {{ participation.meteo.couverture }}
      </div>
    </div>

    <div class="panel panel-default panel-body">
      <div><b>Configuration</b></div>
      <div ng-if="isObjectEmpty(participation.configuration)">
        Aucune configuration.
      </div>
      <div ng-if="participation.configuration.detecteur_enregistreur_numero_serie">
        Numéro de série du détecteur enregistreur :
        {{ participation.configuration.detecteur_enregistreur_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro0_position">
        Position du micro 0 :
        {{ participation.configuration.micro0_position }}
      </div>
      <div ng-if="participation.configuration.micro0_numero_serie">
        Numéro de série du micro 0 :
        {{ participation.configuration.micro0_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro0_hauteur">
        Hauteur du micro 0 :
        {{ participation.configuration.micro0_hauteur }}
      </div>
      <div ng-if="participation.configuration.micro1_position">
        Position du micro 1 :
        {{ participation.configuration.micro1_position }}
      </div>
      <div ng-if="participation.configuration.micro1_numero_serie">
        Numéro de série du micro 1 :
        {{ participation.configuration.micro1_numero_serie }}
      </div>
      <div ng-if="participation.configuration.micro1_hauteur">
        Hauteur du micro 1 :
        {{ participation.configuration.micro1_hauteur }}
      </div>
    </div>

    <div class="panel panel-default panel-body">
      <p><b>Pièces jointes</b></p>
      <div>
        <span ng-repeat="photo in photos">
          <access-photo-directive file="photo"></access-photo-directive>
        </span>
      </div>

      <!-- WAV -->
      <div>
        <a class="btn btn-primary" data-toggle="collapse"
           data-target="#display-wav-files-collapse"
           aria-expanded="false" aria-controls="display-wav-files-collapse"
           ng-click="displayWavFiles()">
          <span ng-show="true">Afficher les fichiers son Tadarida</span>
          <span ng-show="false">Cacher les fichiers son</span>
        </a>
        <div class="container collapse" id="display-wav-files-collapse">
          <list-resource-directive resource-backend="resourceBackend"
                                   lookup="wav_lookup">
            <access-file-directive file="resource"></access-file-directive>
          </list-resource-directive>
        </div>
      </div>

      <!-- TA -->
      <div>
        <a class="btn btn-primary" data-toggle="collapse"
           data-target="#display-ta-files-collapse"
           aria-expanded="false" aria-controls="display-ta-files-collapse"
           ng-click="displayTaFiles()">
          Afficher les fichiers Tadarida D
        </a>
        <div class="container collapse" id="display-ta-files-collapse">
          <list-resource-directive resource-backend="resourceBackend"
                                   lookup="ta_lookup">
            <access-file-directive file="resource"></access-file-directive>
          </list-resource-directive>
        </div>
      </div>

      <!-- TC -->
      <div>
        <a class="btn btn-primary" data-toggle="collapse"
           data-target="#display-tc-files-collapse"
           aria-expanded="false" aria-controls="display-tc-files-collapse"
           ng-click="displayTcFiles()">
          Afficher les fichiers Tadarida C
        </a>
        <div class="container collapse" id="display-tc-files-collapse">
          <list-resource-directive resource-backend="resourceBackend"
                                   lookup="tc_lookup">
            <access-file-directive file="resource"></access-file-directive>
          </list-resource-directive>
        </div>
      </div>

    </div>

    <div class="panel panel-default panel-body">
      <div><b>Posts</b></div>
      <div ng-if="!participation.messages">
        Aucun post.
      </div>
      <li class="list-group-item" ng-repeat="message in participation.messages">
        auteur : {{ message.auteur.pseudo }}
        <br>
        date : {{ message.date }}
        <br>
        message : {{ message.message }}
      </li>
    </div>
  </div>
</div>
