<a class="btn btn-default" href="#/protocoles/{{participation.protocole._id}}">
  Voir le protocole {{ participation.protocole.titre }}
</a>
<a class="btn btn-default" href="#/sites/{{participation.site}}">
  Voir le site {{ participation.site.titre }}
</a>

<display-participation-directive participation="participation">
</display-participation-directive>

<div class="form-group input-group">
  <input class="form-control" type="text" ng-model="post">
  <a class="input-group-addon" ng-click="addPost()">Ajouter un message</a>
</div>

<a class="btn btn-primary" href="#/participations/{{participation._id}}/edition">
  Editer la participation
</a>
