<a class="btn btn-primary" href="#/protocoles/{{protocole._id}}">
  Voir le protocole {{ protocole.titre }}
</a>
<a class="btn btn-primary" href="#/sites/{{site._id}}">
  Voir le site {{ site.titre }}
</a>

<div class="alert alert-danger" ng-show="submitError">
  La participation n'a pas pu être sauvegardée.
</div>

<edit-participation-directive participation="participation"
                              type-site="protocole.type_site"
                              file-uploader="fileUploader"
                              folder-uploader="folderUploader">
</edit-participation-directive>

<sc-button class="save-participation btn btn-primary" ng-click="save()"
           label="'Sauvegarder'" wait-for-class="fa fa-spinner fa-spin"
           start-wait-for="startSave" cancel-wait-for="endSave">
</sc-button>
