<div class="container">
  <div ng-show="!loading">
    <div ng-show="participations.length != 0">
      <div class="page-header">
        <h3>Mes participations</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"
          ng-repeat="participation in participations">
          <show-participation-directive participation="participation"
            title="Participation {{$index + 1}}">
          </show-participation-directive>
        </li>
      </ul>
      <div ng-show="participations.length == 0" class="text-center">
        <h3><i>Vous n'avez pas de participation pour le moment</i></h3>
      </div>
    </div>
  </div>

  <div ng-if="loading">
    <center><img src="images/spinner.gif"></img></center>
    <center>Changement de la liste des participations...</center>
  </div>
</div>
