<div class="container">
  <div class="page-header">
    <h3>participations</h3>
  </div>

  <div class="list-group">
    <div class="row">
      <div class="col-xs-8">
          <label for="search">Filtre :</label>
          <input ng-model="filter" id="search" class="form-control" placeholder="texte">
      </div>
      <div class="col-xs-4">
          <label for="search">Nb de Résultats par page :</label>
          <input type="number" class="form-control" ng-model="itemsPerPage">
      </div>
    </div>
  </div>

  <div ng-if="!loading">
    <div ng-if="participations.length != 0">
      <ul class="list-group">
        <li class="list-group-item" dir-paginate="participation in participations | itemsPerPage: itemsPerPage"
            total-items="totalItems" current-page="currentPage">
          <a class="btn" ng-href='#/participations/{{ participation._id }}'>
            {{ participation.date_debut }}
          </a>
        </li>
      </ul>
      <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>

    <div ng-if="participations.length == 0" class="text-center">
      <h3><i>Pas de participations</i></h3>
    </div>

    <div class="text-center" ng-show="isAdmin">
      <a name="create-participation" class="btn btn-default" href="#/participations/nouveau">Nouveau participation</a>
    </div>
  </div>

  <div ng-if="loading">
    <center><img src="images/spinner.gif"></img></center>
    <center>Changement de la liste des participations...</center>
  </div>
</div>
