<div class="container">
  <div class="list-group">
    <div class="row">
      <div class="col-xs-8">
<!--          <label for="search">Filtre :</label>
          <input ng-model="filter" id="search" class="form-control"
                 placeholder="texte">-->
  </div>

  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a ng-href='#/participations/{{resource._id}}'>
      Participation du {{ resource.date_debut | xinDate: 'medium' }}
    </a>
    <span class="label label-success pull-right"
          ng-show="resource.observateur._id == user._id">
      Participant
    </span>
    <span class="label label-primary pull-right"
          ng-show="resource.observateur._id != user._id">
      {{ resource.observateur.pseudo }}
    </span>
  </list-resource-directive>

  <div class="text-center" ng-show="isAdmin">
    <a class="btn btn-default" href="#/participations/nouveau">
      Nouveau participation
    </a>
  </div>
</div>
