<div class="container">
  <div class="page-header">
    <h3>{{ title }}</h3>
    <a href="#/participations{{ swap.value }}"><h5>{{ swap.title }}</h5></a>
  </div>

  <div class="list-group">
    <div class="row">
      <div class="col-xs-8">
<!--          <label for="search">Filtre :</label>
          <input ng-model="filter" id="search" class="form-control"
                 placeholder="texte">-->
      </div>
      <div class="col-xs-4">
          <label for="search">Nb de Résultats par page :</label>
          <input type="number" class="form-control" ng-model="itemsPerPage">
      </div>
    </div>
  </div>

  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a ng-href='#/participations/{{resource._id}}'>
      Participation du {{ resource.date_debut | xinDate: 'short' }}
    </a>
    <span class="pull-right"
          ng-show="resource.observateur && resource.observateur._id == user._id">
      <span class="label label-success">
        Participant
      </span>&nbsp;<span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
    <span class="pull-right"
          ng-show="resource.observateur && resource.observateur._id != user._id">
      <span class="label label-primary">
        {{ resource.observateur.pseudo }}
      </span>&nbsp;<span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
    <span class="pull-right"
          ng-show="!resource.observateur">
      <span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
  </list-resource-directive>

  <div class="text-center" ng-show="isAdmin">
    <a class="btn btn-default" href="#/participations/nouveau">
      Nouveau participation
    </a>
  </div>
</div>
