<div ng-if="!loading">
    <div dir-paginate="utilisateur in utilisateurs | itemsPerPage: 20" total-items="totalResults">
        <div class="text-center"><a href='#/utilisateurs/{{ utilisateur._id }}'>{{ utilisateur.pseudo }}</a></div>
    </div>

    <div ng-show="utilisateurs.length == 0" class="text-center">
        <h3><i>Pas d'utilisateurs</i></h3>
    </div>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>

<div ng-if="loading">
    <center>Changement de la liste des utilisateurs...</center>
</div>
